@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";
@import "../../../pages/App/sass/mixinsFonts.scss";

.container {
  padding-top: toRem(152);
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  background: var(--color-black);

  @media only screen and (max-width: $screen-lg) {
    padding-top: toRem(154);
  }

  @media only screen and (max-width: ($screen-md - 1)) {
    padding-top: toRem(134);
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .image {
      width: 100%;
      object-fit: contain;
      object-position: top;
    }
  }

  .departmentImage {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.15;

    .image {
      width: toRem(600);
      height: toRem(643);
      object-fit: contain;
      object-position: top;

      @media only screen and (max-width: $screen-lg) {
        width: toRem(313);
        height: toRem(335);
      }
  
      @media only screen and (max-width: ($screen-md - 1)) {
        width: toRem(205);
        height: toRem(216);
      }
    }
  }

  .breadcrumbs {
    position: relative;
    z-index: 1;
    margin-top: 60px;
    color: var(--color-white);
  }

  .contentContainer {
    padding-bottom: toRem(40);
    position: relative;
    z-index: 2;

    @media only screen and (max-width: $screen-lg) {
      padding-bottom: toRem(20);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      padding-bottom: toRem(10);
    }

    .title {
      @include generalSansFont(96, 500, 110);
      color: var(--color-white);
      margin-bottom: toRem(40);
      max-width: 903px;

      @media only screen and (max-width: $screen-lg) {
        @include generalSansFont(56, 500, 60);
        margin-bottom: toRem(30);
        max-width: 653px;
      }

      @media only screen and (max-width: $screen-md - 1) {
        @include generalSansFont(40, 500, 50);
        margin-bottom: toRem(20);
      }
    }

    .description {
      color: var(--color-white);

      h1, h2, h3, strong {
        @include generalSansFont(50, 500, 64);

        @media only screen and (max-width: $screen-lg) {
          @include generalSansFont(40, 500, 56);
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          @include generalSansFont(30, 500, 40);
        }
      }


      p, li {
        @include generalSansFont(20, 500, 28);
        margin-bottom: toRem(30);

        @media only screen and (max-width: $screen-lg) {
          @include generalSansFont(18, 500, 26);
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          @include generalSansFont(16, 500, 24);
          margin-bottom: toRem(20);

        }

        &::marker {
          content: none;
        }
      }

      p {
        &:first-child {
          margin-bottom: toRem(60);
          @include generalPlexMono(18, 400, 26);

          @media only screen and (max-width: ($screen-lg)) {
            margin-bottom: toRem(30);
          }

          @media only screen and (max-width: ($screen-md - 1)) {
            margin-bottom: toRem(20);
            @include generalPlexMono(16, 400, 24);
          }
        }
      }

      ul {
        list-style-type: none;
      }

      li {
        display: flex;
        gap: toRem(10);
        font-family: var(--generalSans);
        margin-bottom: toRem(20);

        &:last-child {
          margin-bottom: toRem(40);
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          margin-bottom: toRem(15);

          &:last-child {
            margin-bottom: toRem(30);
          }
        }
      }
      
      li::before {
        content: '﹂';
        display: block;
        color: var(--color-white); 
        font-size: 1.2em; 
      }
    }
  }
}
