@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.calculate {
  position: relative;
  margin-top: toRem(60);

  @media only screen and (min-width: $screen-md) {
    margin-top: toRem(80);
  }

  @media only screen and (min-width: $screen-xl) {
    margin-top: toRem(120);
  }

  .bg {
    object-fit: cover;
    z-index: -1;
  }

  .container {
    padding-top: toRem(80);
    padding-bottom: toRem(80);

    @media only screen and (min-width: $screen-lg + 1) {
      padding-top: toRem(120);
      padding-bottom: toRem(120);
    }

    @media only screen and (min-width: $screen-xl) {
      padding-left: toRem(100);
    }
  }
}
