@import "../../../pages/App/sass/breakpointsVariables";
@import "../../../pages/App/sass/functions";


.container {
  padding: toRem(40) toRem(15) toRem(40);
  background-color: var(--color-black);
  position: relative;

  @media only screen and (max-width: $screen-lg) {
    padding: toRem(80) toRem(30) toRem(70);
  }

  @media only screen and (max-width: $screen-md - 1) {
    padding: toRem(40) toRem(15) toRem(40);
  }

  @media only screen and (min-width: ($screen-xxl)) {
    padding: toRem(80) toRem(70);
  }

  @media only screen and (min-width: $screen-xxxl) {
    padding: toRem(80);
  }

  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: toRem(1200);
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .heading {
    position: relative;
    color: var(--color-white);
    text-align: center;
    font-size: toRem(50);
    font-weight: 500;
    line-height: getLineHeight(64, 50);
    margin-bottom: toRem(40);
    z-index: 2;

    @media only screen and (max-width: $screen-lg) {
      font-size: toRem(40);
      line-height: getLineHeight(56, 40);
      margin-bottom: toRem(30);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      font-size: toRem(30);
      line-height: getLineHeight(40, 30);
    }
  }

  .cardsContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: toRem(40);
    width: 100%;
    justify-content: center;
    z-index: 2;

    @media only screen and (max-width: $screen-lg) {
      flex-direction: column;
    }

    @media only screen and (max-width: $screen-md - 1) {
      gap: toRem(15);
    }

    .card {
      flex-grow: 1;
      width: 100%;
      max-width: 48%;
      padding: toRem(30);
      border: toRem(1) solid rgba(255, 255, 255, 0.08);
      background: rgba(255, 255, 255, 0.07);

      @media only screen and (max-width: $screen-lg) {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 100%;
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        padding: toRem(15);
      }

      svg {
        width: toRem(60);
        height: toRem(60);

        @media only screen and (max-width: ($screen-md - 1)) {
          width: toRem(48);
          height: toRem(48);
        }
      }

      .cardText {
        white-space: pre-line;
        color: var(--color-white);
        font-size: toRem(30);
        font-style: normal;
        font-weight: 500;
        line-height: getLineHeight(40, 30);
        margin-top: toRem(30);
        max-width: toRem(495);

        @media only screen and (max-width: $screen-lg) {
          margin: 0 0 0 toRem(30);
          width: initial;
          white-space: initial;
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          font-size: toRem(16);
          line-height: getLineHeight(24, 16);
          margin-left: toRem(15);
        }
      }
    }
  }
}
