@import "../../../App/sass/breakpointsVariables.scss";

.meditationsSection {
  position: relative;
  padding-bottom: 40px;
  
  @media only screen and (min-width: $screen-md) {
    padding-bottom: 80px;
  }
  
  @media only screen and (min-width: $screen-lg + 1) {
    padding-bottom: 100px;
  }
  
  .listBlock {
    padding-bottom: 24px;

    @media only screen and (min-width: $screen-md) {
      padding-bottom: 30px;
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding-bottom: 32px;
    }

    .left {
      .subtitle {
        padding: 22px 0;
        letter-spacing: -0.2px;

        @media only screen and (min-width: $screen-md) {
          padding: 32px 0 24px;
        }

        @media only screen and (min-width: $screen-lg + 1) {
          max-width: 539px;
        }
      }

      .text {
        @media only screen and (min-width: $screen-lg + 1) {
          max-width: 480px;
        }
      }
    }

    .right {
      .list {
        list-style: none;
      }
    }
  }

  .imagesBlock {
    padding-top: 24px;

    @media only screen and (min-width: $screen-md) {
      padding-top: 30px;
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding-top: 32px;
    }
  }
}

.saleContainer {
  padding-bottom: toRem(48);
  
  @media only screen and (max-width: $screen-lg) {
    padding-bottom: toRem(40);
  }
}
