@import "../../../App/sass/breakpointsVariables.scss";

.item {
  padding-top: 24px;

  @media only screen and (min-width: $screen-md) {
    padding-top: 32px;
  }

  &:first-of-type {
    @media only screen and (min-width: $screen-lg) {
      padding-top: 10px;
    }
  }

  .itemTitle {
    font-family: var(--satoshiFont), sans-serif;
    display: flex;

    span {
      padding-right: 10px;

      @media only screen and (min-width: $screen-md) {
        padding-right: 16px;
      }
    }
  }

  .text {
    padding-top: 10px;

    @media only screen and (min-width: $screen-md) {
      padding-top: 16px;
      padding-left: 39px;
      max-width: 564px;
    }
  }
}
