@import "../../../App/sass/breakpointsVariables.scss";

.aboutBlock {
  padding-top: 4px;

  @media only screen and (min-width: $screen-md) {
   display: flex;
    flex-wrap: wrap;
    padding-top: 0;

    @media only screen and (min-width: $screen-lg + 1) {
      gap: 7%;
    }
  }

  .item {
    padding-top: 20px;

    @media only screen and (min-width: $screen-md) {
      flex: 0 1 50%;
    }

    &:nth-of-type(1){
      @media only screen and (min-width: $screen-md) {
        order: 1;
        padding-top: 24px;
      }

      @media only screen and (min-width: $screen-lg + 1) {
        padding-top: 32px;
        flex: 0 1 43.7%;
      }
    }

    &:nth-of-type(2){
      @media only screen and (min-width: $screen-md) {
        order: 3;
        padding-top: 31px;
      }

      @media only screen and (min-width: $screen-lg + 1) {
        flex: 0 1 43.7%;
      }
    }

    &:nth-of-type(3){
      @media only screen and (min-width: $screen-md) {
        order: 2;
        padding-top: 24px;
      }

      @media only screen and (min-width: $screen-lg + 1) {
        padding-top: 32px;
        flex: 0 1 49.3%;
      }
    }

    &:nth-of-type(4){
      @media only screen and (min-width: $screen-md) {
        order: 4;
        padding-top: 31px;
      }

      @media only screen and (min-width: $screen-lg + 1) {
        flex: 0 1 49.3%;
      }
    }
  }
}
