@import "../../App/sass/functions";
@import "../../App/sass/breakpointsVariables";

.betterMe {
  :global {
    .betterMeContainer {
      max-width: toRem(1440);
      padding-left: toRem(60);
      padding-right: toRem(60);
      margin: 0 auto;
      box-sizing: border-box;
      font-weight: 400;
      font-size: toRem(16);
      line-height: 150%;
      color: #020204;

      @media only screen and (max-width: $screen-lg) {
        padding-left: toRem(42);
        padding-right: toRem(42);
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        padding-left: toRem(16);
        padding-right: toRem(16);
      }

      h1 {
        position: relative;
        font-weight: 500;
        font-size: toRem(52);
        line-height: 130%;
        display: inline;

        @media only screen and (max-width: $screen-xxl) {
          font-size: 3.6vw;
        }

        @media only screen and (max-width: $screen-lg) {
          font-size: toRem(40);
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          display: block;
          margin-top: toRem(8);
          font-size: toRem(30);

          br {
            display: none;
          }
        }
      }

      h2 {
        font-weight: 500;
        font-size: toRem(48);
        line-height: 140%;
        letter-spacing: 0.04em;

        @media only screen and (max-width: $screen-lg) {
          font-size: toRem(36);
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          font-size: toRem(28);
        }
      }
    }
  }
}
