@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.container {
  padding-top: toRem(80);
  padding-bottom: toRem(80);

  @media only screen and (max-width: ($screen-md - 1)) {
    padding-top: toRem(60);
    padding-bottom: toRem(60);
  }
  .supTitle {
    font-size: toRem(20);
    line-height: getLineHeight(28, 20);
    margin: 0;
    padding-bottom: toRem(18);

    @media only screen and (max-width: $screen-lg) {
      font-size: toRem(18);
      line-height: getLineHeight(26, 18);
      padding-bottom: toRem(20);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      font-size: toRem(14);
      line-height: getLineHeight(26, 14);
    }
  }
  .title {
    max-width: toRem(1150);
    padding-bottom: toRem(80);

    @media only screen and (max-width: $screen-lg) {
      padding-bottom: toRem(60);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      padding-bottom: toRem(40);
    }

    .greyText {
      color: var(--color-gray-text);
    }
  }
  .firstText, .secondText {
    font-size: toRem(40);
    line-height: getLineHeight(56, 40);

    @media only screen and (max-width: $screen-lg) {
      font-size: toRem(36);
      line-height: getLineHeight(46, 36);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      font-size: toRem(24);
      line-height: getLineHeight(34, 24);
    }
  }

  .firstText {
    padding-bottom: toRem(40);

    @media only screen and (max-width: $screen-lg) {
      padding-bottom: toRem(10);
    }
  }
  .secondText {
    padding: toRem(60) 0 toRem(40);

    @media only screen and (max-width: $screen-lg) {
      padding: toRem(50) 0 toRem(10);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      padding: toRem(30) 0 toRem(10);
    }
  }
}