@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.container {
  padding-left: toRem(15);
  padding-right: toRem(15);

  @media only screen and (min-width: $screen-md) {
    padding-left: toRem(30);
    padding-right: toRem(30);
  }

  @media only screen and (min-width: ($screen-lg + 1)) {
    padding-left: toRem(40);
    padding-right: toRem(40);
  }

  @media only screen and (min-width: 1130px) {
    margin: 0 auto;
    max-width: toRem(1160);
  }

  @media only screen and (min-width: $screen-xxxl) {
    max-width: toRem(1240);
    padding-left: toRem(80);
    padding-right: toRem(80);
  }
}
