@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.arrowWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  left: 40px;
  svg {
    animation: upAndDown 2s ease-in-out infinite;
  }

  @media only screen and (max-width: $screen-lg) {
    display: none;
  }
}

@keyframes upAndDown {
  0%{
    transform: translate(0, -4px);
  }
  50% {
    transform: translate(0,9px);
  }
  100% {
    transform: translate(0, -4px);
  }
}