@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";
@import "../../../pages/App/sass/mixinsFonts.scss";


.techGeeksHeader {
  font-size: toRem(30);
  line-height: getLineHeight(40, 30);

  @media only screen and (max-width: $screen-md - 1) {
    font-size: toRem(20);
    line-height: getLineHeight(28, 20);
  }
}
.text{
  margin: 0;
  font-family: var(--ibmPlexMono);
  font-size: toRem(16);
  font-weight: 400;
  line-height: getLineHeight(24, 16);

  @media only screen and (min-width: $screen-md) {
    font-size: toRem(18);
    line-height: getLineHeight(26, 18);
  }
}
.techGeeksText {
  margin: 0 !important;

  @media only screen and (min-width: $screen-lg + 1) {
    max-width: 100%;
  }
}
.list{
  font-family: var(--ibmPlexMono);
  font-size: toRem(16);
  font-weight: 400;
  line-height: getLineHeight(24, 16);
  margin-top: toRem(20) !important;
  margin-bottom: toRem(30) !important;

  @media only screen and (min-width: $screen-md) {
    font-size: toRem(18);
    line-height: getLineHeight(26, 18);
  }

  @media only screen and (max-width: $screen-md - 1) {
    margin-top: toRem(15) !important;
  }

  ul{
    list-style: '﹂';
    padding-left: toRem(19);

    @media only screen and (max-width: $screen-md - 1) {
      padding-left: toRem(17);
    }

    li {
      padding-left: toRem(10);
    }
  }
}
.button{
  margin-bottom: toRem(36)!important;
}
.techGeeksButton {
  margin-bottom: toRem(30)!important;
  max-width: 100%;

  @media only screen and (max-width: ($screen-md - 1)) {
    margin-bottom: toRem(20)!important;
  }
}

.numberBlock{
  display: inline-block;
  min-width: toRem(24);
  width: toRem(24);
  margin-right: toRem(11);

  @media only screen and (min-width: $screen-md) {
    margin-right: toRem(35);
    min-width: toRem(36);
    width: toRem(36);
  }

  @media only screen and (min-width: $screen-lg + 1) {
    margin-right: toRem(50);
    min-width: toRem(36);
    width: toRem(36);
  }

  &.industriesNumberBlock {
    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(40);
    }
  }

  &.industriesFirstNumberBlock {
    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(40);
    }
  }

  &.bookingNumberBlock {
    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(35);
    }
  }

  &.bookingFirstNumberBlock {
    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(35);
    }
  }

  &.travelFirstNumberBlock {
    font-size: toRem(20);
    line-height: getLineHeight(28, 20);
    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(35);
      font-size: toRem(30);
      line-height: getLineHeight(40, 30);
    }
  }

  &.travelNumberBlock {
    font-size: toRem(20);
    line-height: getLineHeight(28, 20);
    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(35);
      font-size: toRem(30);
      line-height: getLineHeight(40, 30);
    }
  }

  &.healthcareNumberBlock {
    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(24);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      margin-right: toRem(42);
    }
  }
  
  &.spatioNumberBlock {
    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(35);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      margin-right: toRem(30);
    }
  }

  &.webDesign {
    @media only screen and (min-width: $screen-lg + 1) {
      margin-right: toRem(45);
    }
    
    @media only screen and (max-width: $screen-md - 1) {
      font-size: toRem(20);
      line-height: getLineHeight(28, 20);
    }
  }

  &.numberBlockDevops {
    margin-right: toRem(50);

    @media only screen and (max-width: $screen-lg) {
      margin-right: toRem(35);
    }

    @media only screen and (max-width: $screen-md - 1) {
      margin-right: toRem(10);
    }

    @media only screen and (width: $screen-md) {
      margin-right: toRem(35);
    }
  }

  &.gameArtNumberBlock {
    min-width: toRem(80);
    margin: 0;

    @media only screen and (max-width: $screen-md - 1) {
      min-width: toRem(45);
    }

    @media only screen and (width: $screen-md) {
      min-width: toRem(80);
    }
  }

  &.machineNumberBlock {
    font-size: toRem(20);
    line-height: getLineHeight(28, 20);
    @media only screen and (min-width: $screen-md) {
      width: toRem(40);
      margin-right: toRem(40);
      font-size: toRem(30);
      line-height: getLineHeight(40, 30);
    }
  }

  &.animatedConcept {
    @media only screen and (max-width: $screen-lg) {
      margin-right: toRem(30);
    }

    @media only screen and (max-width: $screen-md - 1) {
      width: toRem(30);
      margin-right: toRem(10);
    }
  }

  &.android {
    margin-right: toRem(11);

    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(20);
      min-width: toRem(28);
      width: toRem(28);
    }
  
    @media only screen and (min-width: $screen-lg + 1) {
      margin-right: toRem(45);
    }
  }

  &.volkswagen {
    margin-right: toRem(10);

    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(30);
    }
  }

  &.chinEasy {
    margin-right: toRem(15);

    @media only screen and (min-width: $screen-md) {
      margin-right: toRem(30);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      margin-right: toRem(45);
    }
  }
}

.title {
  font-size: toRem(30);
  font-weight: 500;

  @media only screen and (max-width: ($screen-md - 1)) {
    font-size: toRem(20);
  }
}

.titleBlock {
  font-size: toRem(20);
  line-height: getLineHeight(28, 20);
  font-weight: 500;

  @media only screen and (min-width: $screen-md) {
    font-size: toRem(30);
    line-height: getLineHeight(40, 30);
  }
}

.titleWeb {
  @media only screen and (max-width: ($screen-md - 1)) {
   font-size: toRem(20);
  }
}

.softwareProductDataContainer{
  padding: 0 toRem(15) toRem(0);
  margin-bottom: toRem(20);
  >div{
    margin-top: 0;
    margin-bottom: 0;
    &:last-child {
      margin-bottom: toRem(0);
    }
  }

  @media only screen and (min-width: $screen-md) {
    padding: 0 toRem(30) toRem(0) toRem(30);
    margin-bottom: toRem(30);
  }

  @media only screen and (min-width: $screen-lg + 1) {
    padding: 0 toRem(30) toRem(0);
  }

  @media only screen and (min-width: $screen-xxxl) {
    padding: 0 toRem(80);
  }

  .iosText {
    margin-bottom: toRem(15);

    @media only screen and (min-width: $screen-md) {
      margin-bottom: toRem(30);
    }

    .spanPadding {
      display: block;
      padding-bottom: toRem(20);
    }
    
    .bold {
      font-weight: 500;
      font-size: toRem(24);
      line-height: getLineHeight(34, 24);
      
      @media only screen and (max-width: $screen-md - 1) {
        font-weight: 500;
        font-size: toRem(16);
        line-height: getLineHeight(24, 16);
      }
    }
  }

  .dedicatedTeamText {
    margin-bottom: toRem(15);

    @media only screen and (min-width: $screen-md) {
      margin-bottom: toRem(30);
    }
  }

  &.softwareProductDataContainerDedicatedTeam {
    @media only screen and (min-width: $screen-md) {
      padding: 0 toRem(30);
    }

    @media only screen and (min-width: $screen-xxxl) {
      padding: 0 toRem(30) toRem(0) toRem(80);
    }
  }

  &.softwareProductDataContainerDedicatedTeamApproach {
    @media only screen and (min-width: $screen-lg + 1) {
      padding: 0 toRem(30) toRem(0) toRem(86);
    }
  }

  &.gameArtSoftwareProductDataContainer {
    padding: 0 toRem(30) toRem(0) toRem(80);

    @media only screen and (max-width: ($screen-md - 1)) {
      padding: 0 0 toRem(0) toRem(60);

      .iosText {
        font-size: toRem(14);
        line-height: getLineHeight(20, 14);
      }
    }

    @media only screen and (width: $screen-md) {
      padding: 0 toRem(30) toRem(0) toRem(95);
    }
  }

  .servicesContactBtn {
    margin-top: toRem(20);

    @media only screen and (min-width: $screen-md) {
      margin-top: toRem(30);
    }
  }

  &.softwareProductDataContainerWebDesign {
    padding: 0 toRem(0) toRem(0) toRem(15);
    margin-bottom: toRem(30);

    @media only screen and (min-width: $screen-md) {
      padding: 0 toRem(15) 0 0;
    }
    
    @media only screen and (min-width: $screen-lg + 1) {
      padding: 0 toRem(30) toRem(0) toRem(81);
    }

    @media only screen and (min-width: $screen-xxxl) {
      padding: 0 toRem(30) toRem(0) toRem(80);
    }
  }

  &.android {
    @media only screen and (width: $screen-md) {
      padding: 0 toRem(30) toRem(0) toRem(45);
    }

    @media only screen and (min-width: ($screen-md)) {
      padding: 0 toRem(30) toRem(0) toRem(30);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding: 0 toRem(30) toRem(0) toRem(81);
    }
  }
}

.vrTextContainer{
  padding: 0 toRem(50) 0 toRem(86);
  @media only screen and (max-width: $screen-lg) {
  padding: 0 toRem(50) 0 toRem(73);
  }
  @media only screen and (max-width: $screen-md - 1) {
    padding: 0 toRem(50) 0 toRem(52);
  }
  .vrText{
    margin: toRem(0) 0 toRem(30);
    max-width: toRem(815);

    @media only screen and (max-width: $screen-lg) {
      font-size: toRem(14);
      line-height: getLineHeight(24,14);
    }
  }
}

.industriesDataContainer {
  padding-left: toRem(15);
  padding-right: 0;
  margin-left: 0;

  @media only screen and (min-width: $screen-md) {
    padding-left: toRem(95);
    padding-right: toRem(70);
    padding-bottom: toRem(30);
    margin: 0 auto;
  }
  
  @media only screen and (min-width: $screen-lg + 1) {
    padding-left: toRem(80);
    padding-right: toRem(60);
    margin-left: 0;
  }

  @media only screen and (min-width: $screen-xl) {
    padding-bottom: 0;
    display: flex;
    gap: 5.6%;
    margin-bottom: toRem(30);
  }

  .wrapper {
    @media only screen and (min-width: $screen-xl) {
      flex: 0 1 45.4%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .textContent {
      .industriesText {
        margin-top: 0;
        margin-bottom: 20px;

        @media only screen and (min-width: $screen-xl) {
          margin-top: 0;
        }

        &.webflowText {
          @media only screen and (max-width: $screen-lg) {
            padding-bottom: toRem(10);
          }
        }

        &.machine {
          margin: 0;

          @media only screen and (max-width: $screen-lg) {
            font-size: toRem(18);
            line-height: getLineHeight(26, 18);
          }

          @media only screen and (max-width: $screen-md - 1) {
            font-size: toRem(16);
            line-height: getLineHeight(24, 16);
          }
        }
      }

      .industriesList {
        margin: toRem(20) 0;
      }
    }

    .button {
      margin-bottom: toRem(30) !important;

      @media only screen and (min-width: $screen-xl) {
        margin-bottom: 0 !important;
      }
    }
  }

  .imgComponent {
    position: relative;
    width: 100%;
    height: 286px;
    margin-bottom: toRem(20);



    @media only screen and (min-width: $screen-md) {
      height: 493px;
    }

    @media only screen and (min-width: $screen-lg + 1) {
      height: 486px;
      margin-bottom: toRem(30);
    }

    @media only screen and (min-width: $screen-xl) {
      flex: 0 1 49%;
      margin-bottom: 0;
    }

    img {
      object-fit: cover;
    }

    &.uiUxFirst {
      height: toRem(286);

      @media only screen and (min-width: $screen-md) {
        height: toRem(493);
      }
    }

    &.uiUx {
      height: toRem(210);

      @media only screen and (min-width: $screen-md) {
        height: toRem(350);
      }

      @media only screen and (min-width: ($screen-xl + 1)) {
        height: toRem(500);
      }
    }

    &.productDiscovery {
      @media only screen and (min-width: $screen-xl) {
        height: toRem(486);
      }
    }
  }

  &.designAudit {
    padding: 0 toRem(75) toRem(30);
    margin-bottom: 0;

    @media only screen and (min-width: $screen-xxxl) {
      padding: 0 toRem(80) toRem(30);
    }

    .wrapper {
      justify-content: flex-end;
      margin: 0;
      @media only screen and (min-width: $screen-xl) {
        flex: 0 1 36.4%;
      }
      .textContent {
        padding: 0;
        .industriesText {
          margin: 0;
          font-size: toRem(20);
          line-height: getLineHeight(28, 20);

          @media only screen and (max-width: $screen-md - 1) {
            font-size: toRem(16);
            line-height: getLineHeight(24, 16);
          }

          @media only screen and (width: $screen-md) {
            font-size: toRem(20);
            line-height: getLineHeight(28, 20);
          }
        }

        .industriesList {
          margin: toRem(20) 0 0 0;
          font-size: toRem(20);
          line-height: getLineHeight(28, 20);

          @media only screen and (max-width: $screen-md - 1) {
            font-size: toRem(16);
            line-height: getLineHeight(24, 16);
          }

          @media only screen and (width: $screen-md) {
            font-size: toRem(20);
            line-height: getLineHeight(28, 20);
          }
        }
      }
    }

    .imgPadding {
      padding: 0;
      @media only screen and (min-width: $screen-xl) {
        flex: 0 1 63%;
      }
      @media only screen and (width: $screen-xl) {
        flex: none;
      }
    }

    .imgComponent {
      flex: none;
    }

    @media only screen and (max-width: $screen-xl) {
      display: flex;
      flex-direction: column-reverse;
      padding: 0;
      .wrapper {
        .textContent {
          padding: toRem(30) toRem(30) toRem(30) toRem(45);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(118) 0 toRem(118);
        .imgComponent {
          margin: 0;
        }
      }
    }

    @media only screen and (max-width: $screen-md - 1) {
      .wrapper {
        .textContent {
          padding: toRem(20) toRem(15) toRem(20) toRem(30);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(15) 0 toRem(30);
      }
    }

    @media only screen and (width: $screen-md) {
      .wrapper {
        .textContent {
          padding: toRem(30) toRem(30) toRem(30) toRem(45);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(118) 0 toRem(118);
        .imgComponent {
          margin: 0;
        }
      }
    }
  }

  &.fintech {
    padding: 0 toRem(75) toRem(30) toRem(110);
    margin-bottom: 0;

    @media only screen and (min-width: $screen-xxxl) {
      padding: 0 toRem(80) toRem(30);
    }

    .wrapper {
      justify-content: flex-end;
      margin: 0;
      @media only screen and (min-width: $screen-xl) {
        flex: 1 1 36.4%;
      }
      .textContent {
        padding: 0;
        .industriesText {
          margin: 0;
          font-size: toRem(20);
          line-height: getLineHeight(28, 20);

          @media only screen and (max-width: $screen-md - 1) {
            font-size: toRem(16);
            line-height: getLineHeight(24, 16);
          }

          @media only screen and (width: $screen-md) {
            font-size: toRem(20);
            line-height: getLineHeight(28, 20);
          }
        }

        .industriesList {
          margin: toRem(20) 0 0 0;
          font-size: toRem(20);
          line-height: getLineHeight(28, 20);

          @media only screen and (max-width: $screen-md - 1) {
            font-size: toRem(16);
            line-height: getLineHeight(24, 16);
          }

          @media only screen and (width: $screen-md) {
            font-size: toRem(20);
            line-height: getLineHeight(28, 20);
          }
        }
      }
    }

    .imgPadding {
      padding: 0;
      @media only screen and (min-width: $screen-xl) {
        flex: 0 1 63%;
      }
      @media only screen and (width: $screen-xl) {
        flex: none;
      }
    }

    .imgComponent {
      flex: none;
    }

    @media only screen and (max-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      padding: 0;
      .wrapper {
        .textContent {
          padding: 0 toRem(30) toRem(30) toRem(95);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(118) 0 toRem(118);
        margin-bottom: 20px;
        .imgComponent {
          margin: 0;
        }
      }
    }

    @media only screen and (max-width: $screen-md - 1) {
      .wrapper {
        .textContent {
          padding: 0 toRem(15) toRem(20) toRem(30);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(15) 0 toRem(30);
      }
    }

    @media only screen and (width: $screen-md) {
      .wrapper {
        .textContent {
          padding: 0 toRem(30) toRem(30) toRem(45);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(118) 0 toRem(118);
        .imgComponent {
          margin: 0;
        }
      }
    }
  }

  &.uiUx {
    padding-left: toRem(30);
    padding-right: toRem(15);
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;

    @media only screen and (min-width: $screen-md) {
      display: block;
      padding-left: toRem(121);
      padding-right: toRem(90);
      padding-bottom: toRem(30);
      margin: 0 auto;
    }

    @media only screen and (min-width: ($screen-md + 1px)) {
      margin-left: toRem(-16);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding-left: toRem(1);
      padding-right: toRem(60);
      margin-left: 0;
    }

    @media only screen and (min-width: $screen-xl) {
      padding-left: toRem(76);
      padding-bottom: 0;
      display: flex;
      flex-direction: row;
      gap: 5.6%;
      margin-bottom: toRem(30);
    }

    .wrapper {
      @media only screen and (min-width: $screen-xl) {
        flex: 0 1 45.4%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .textContent {
        .industriesText {
          margin-top: 0;

          @media only screen and (min-width: $screen-xl) {
            margin-top: 0;
          }

          &.webflowText {
            @media only screen and (max-width: $screen-lg) {
              padding-bottom: toRem(30);
            }
          }
        }

        .industriesList {
          margin: toRem(20) 0;
        }
      }

      .button {
        margin-bottom: 0 !important;

        @media only screen and (min-width: $screen-md) {
          margin-bottom: toRem(30) !important;
        }

        @media only screen and (min-width: $screen-xl) {
          margin-bottom: 0 !important;
        }
      }
    }

    .imgComponent {
      @media only screen and (max-width: ($screen-md - 1)) {
        margin-bottom: toRem(30);
      }
    }
  }

  &.booking {
    padding: 0 toRem(70) toRem(28) toRem(100);
    margin-bottom: 0;
    justify-content: space-between;

    @media only screen and (min-width: $screen-xxxl) {
      padding: 0 toRem(70) toRem(28) toRem(150);
    }

    .wrapper {
      justify-content: flex-start;
      margin: 0;
      gap: 0;
      .textContent {
        padding: 0 0 toRem(30);

        @media only screen and (max-width: ($screen-md - 1)) {
          margin: 0 0 toRem(20);
        }

        .industriesText {
          margin-top: 0;
          font-size: toRem(18);
          line-height: getLineHeight(28, 20);

          @media only screen and (max-width: $screen-lg) {
            font-size: toRem(16);
            line-height: getLineHeight(24, 16);
          }

          @media only screen and (max-width: ($screen-md - 1)) {
            font-size: toRem(16);
            line-height: getLineHeight(28, 20);
            margin-bottom: 0;
          }

          &.travelText {
            @media only screen and (max-width: $screen-lg) {
              font-size: toRem(18);
              line-height: getLineHeight(26, 18);
            }

            @media only screen and (max-width: ($screen-md - 1)) {
              font-size: toRem(16);
              line-height: getLineHeight(24, 16);
            }
          }

          &.one {
            margin: 0;
          }
        }

        .industriesList {
          @include generalPlexMono(18, 400, 26);
          margin: toRem(20) 0 0 0;

          @media only screen and (max-width: ($screen-md - 1)) {
            @include generalPlexMono(18, 400, 26);
          }
        }
      }
    }

    .imgPadding {
      padding: 0;
      @media only screen and (min-width: $screen-xl) {
        flex: 0 1 49%;
      }
      @media only screen and (width: $screen-xl) {
        flex: none;
      }
    }

    .imgComponent {
      margin-bottom: toRem(20);
    }

    @media only screen and (max-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      padding: 0;
      .wrapper {
        .textContent {
          padding: 0 toRem(30) toRem(30) toRem(45);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }

          &.textContainerTravel {
            padding: 0 toRem(60) toRem(30) toRem(116);
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(70) 0 toRem(85);

        &.imgTravel {
          padding: 0 toRem(60) 0 toRem(116);
        }
      }
    }

    @media only screen and (max-width: $screen-lg) {
      .wrapper {
        .textContent {
          padding: 0 toRem(30) toRem(30) toRem(45);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }

          &.textContainerTravel {
            padding: 0 toRem(30) toRem(20) toRem(45);
          }
        }
      }
    }

    @media only screen and (max-width: $screen-md - 1) {
      .wrapper {
        .textContent {
          padding: 0 toRem(15) toRem(20) toRem(30);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }

          &.textContainerTravel {
            padding: 0 toRem(15) toRem(30) toRem(30);
            margin: 0;
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(15) 0 toRem(30);

        &.imgTravel {
          padding: 0 toRem(15) 0 toRem(30);
        }
      }
    }
  }

  &.travel {
    padding: 0 toRem(70) toRem(28) toRem(72);
    margin-bottom: 0;
    justify-content: space-between;

    @media only screen and (min-width: $screen-xxxl) {
      padding: 0 toRem(70) toRem(28) toRem(72);
    }

    .wrapper {
      justify-content: flex-start;
      margin: 0;
      gap: 0;
      .textContent {
        padding: 0 0 toRem(30);

        @media only screen and (max-width: ($screen-md - 1)) {
          margin: 0 0 toRem(20);
        }

        .industriesText {
          margin-top: 0;
          font-size: toRem(18);
          line-height: getLineHeight(28, 20);

          @media only screen and (max-width: $screen-lg) {
            font-size: toRem(16);
            line-height: getLineHeight(24, 16);
          }

          @media only screen and (max-width: ($screen-md - 1)) {
            font-size: toRem(16);
            line-height: getLineHeight(28, 20);
            margin-bottom: 0;
          }

          &.travelText {
            @media only screen and (max-width: $screen-lg) {
              font-size: toRem(18);
              line-height: getLineHeight(26, 18);
            }

            @media only screen and (max-width: ($screen-md - 1)) {
              font-size: toRem(16);
              line-height: getLineHeight(24, 16);
            }
          }

          &.machine {
            margin: 0;
  
            @media only screen and (max-width: $screen-lg) {
              font-size: toRem(18);
              line-height: getLineHeight(26, 18);
            }
  
            @media only screen and (max-width: $screen-md - 1) {
              font-size: toRem(16);
              line-height: getLineHeight(24, 16);
            }
          }

          &.one {
            margin: 0;
          }
        }

        .industriesList {
          @include generalPlexMono(18, 400, 26);
          margin: toRem(20) 0 0 0;

          @media only screen and (max-width: ($screen-md - 1)) {
            @include generalPlexMono(18, 400, 26);
          }
        }
      }
    }

    .imgPadding {
      padding: 0;
      @media only screen and (min-width: $screen-xl) {
        flex: 0 1 49%;
      }
      @media only screen and (width: $screen-xl) {
        flex: none;
      }
    }

    .imgComponent {
      margin-bottom: toRem(20);

      img {
        height: auto !important;
      }
    }

    @media only screen and (max-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      padding: 0;
      .wrapper {
        .textContent {
          padding: 0 toRem(30) toRem(30) toRem(45);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }

          &.textContainerTravel {
            padding: 0 toRem(60) toRem(30) toRem(74);
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(70) 0 toRem(85);

        &.imgTravel {
          padding: 0 toRem(60) 0 toRem(116);

          @media only screen and (width: $screen-md) {
            padding: 0 toRem(60) 0 toRem(102);
          }
        }

        img {
          height: 100% !important;
        }
      }
    }

    @media only screen and (max-width: $screen-lg) {
      .wrapper {
        .textContent {
          padding: 0 toRem(30) toRem(30) toRem(45);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }

          &.textContainerTravel {
            padding: 0 toRem(60) toRem(30) toRem(118);

            @media only screen and (width: $screen-md) {
              padding: 0 toRem(60) toRem(30) toRem(102);
            }
          }
        }
      }
    }

    @media only screen and (max-width: $screen-md - 1) {
      .wrapper {
        .textContent {
          padding: 0 toRem(15) toRem(20) toRem(30);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }

          &.textContainerTravel {
            padding: 0 toRem(15) toRem(30) toRem(30);
            margin: 0;
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(15) 0 toRem(30);

        &.imgTravel {
          padding: 0 toRem(15) 0 toRem(30);
        }
      }
    }
  }

  &.machine {
    padding: 0 toRem(70) toRem(28) toRem(82);
    margin-bottom: 0;
    justify-content: space-between;

    @media only screen and (min-width: $screen-xxxl) {
      padding: 0 toRem(70) toRem(28) toRem(72);
    }

    .wrapper {
      justify-content: flex-start;
      margin: 0;
      gap: 0;
      .textContent {
        padding: 0 0 toRem(30);

        @media only screen and (max-width: ($screen-md - 1)) {
          margin: 0 0 toRem(20);
        }

        .industriesText {
          margin-top: 0;
          font-size: toRem(18);
          line-height: getLineHeight(28, 20);

          @media only screen and (max-width: $screen-lg) {
            font-size: toRem(16);
            line-height: getLineHeight(24, 16);
          }

          @media only screen and (max-width: ($screen-md - 1)) {
            font-size: toRem(16);
            line-height: getLineHeight(28, 20);
            margin-bottom: 0;
          }

          &.machineText {
            margin: 0;
  
            @media only screen and (max-width: $screen-lg) {
              font-size: toRem(18);
              line-height: getLineHeight(26, 18);
            }
  
            @media only screen and (max-width: $screen-md - 1) {
              font-size: toRem(16);
              line-height: getLineHeight(24, 16);
            }
          }

          &.one {
            margin: 0;
          }
        }

        .industriesList {
          @include generalPlexMono(18, 400, 26);
          margin: toRem(20) 0 0 0;

          @media only screen and (max-width: ($screen-md - 1)) {
            @include generalPlexMono(18, 400, 26);
          }
        }
      }
    }

    .imgPadding {
      padding: 0;
      @media only screen and (min-width: $screen-xl) {
        flex: 0 1 49%;
      }
      @media only screen and (width: $screen-xl) {
        flex: none;
      }
    }

    .imgComponent {
      margin-bottom: toRem(30);

      @media only screen and (min-width: $screen-xl) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      padding: 0;
      .wrapper {
        .textContent {
          padding: 0 toRem(30) toRem(30) toRem(45);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }

          &.textContainerTravel {
            padding: 0 toRem(60) toRem(30) toRem(82);
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(70) 0 toRem(85);

        &.imgTravel {
          padding: 0 toRem(60) 0 toRem(116);

          @media only screen and (width: $screen-md) {
            padding: 0 toRem(60) 0 toRem(102);
          }
        }

        img {
          height: 100% !important;
        }
      }
    }

    @media only screen and (max-width: $screen-lg) {
      .wrapper {
        .textContent {
          padding: 0 toRem(30) toRem(30) toRem(45);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }

          &.textContainerTravel {
            padding: 0 toRem(60) toRem(30) toRem(128);

            @media only screen and (width: $screen-md) {
              padding: 0 toRem(60) toRem(30) toRem(112);
            }
          }
        }
      }
    }

    @media only screen and (max-width: $screen-md - 1) {
      flex-direction: column-reverse;

      .wrapper {
        .textContent {
          padding: 0 toRem(15) toRem(20) toRem(30);

          .industriesList {
            margin: toRem(20) 0 0 0;
          }

          &.textContainerTravel {
            padding: 0 toRem(15) toRem(20) toRem(30);
            margin: 0;
          }
        }
      }

      .imgPadding {
        padding: 0 toRem(15) 0 toRem(30);

        &.imgTravel {
          padding: 0 toRem(15) 0 toRem(30);
        }
      }

      .imgComponent {
        margin-bottom: toRem(30);
      }
    }
  }

  &.productDiscovery {
    padding-left: toRem(30);
    padding-right: toRem(15);

    @media only screen and (min-width: $screen-md) {
      padding-left: toRem(125);
      padding-right: toRem(70);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding-left: toRem(76);
      padding-right: toRem(60);
    }
  }
}

.healthcareDataContainer {
  padding-left: toRem(30);
  padding-right: toRem(15);
  margin-left: 0;

  @media only screen and (min-width: $screen-md) {
    padding-left: toRem(45);
    padding-right: toRem(30);
    margin-bottom: toRem(30);
  }

  @media only screen and (min-width: ($screen-md + 1px)) {
    margin-left: toRem(-13);
  }

  @media only screen and (min-width: $screen-lg + 1) {
    padding-left: toRem(30);
    padding-right: toRem(30);
    margin-left: 0;
  }

  @media only screen and (min-width: $screen-xl) {
    display: flex;
    flex-direction: row-reverse;
    gap: toRem(70);
    margin-bottom: toRem(30);
    padding-left: toRem(70);
    padding-right: toRem(70);
  }

  .wrapper {
    @media only screen and (min-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 0 1 35%;
    }
    .textContent {
      .text {
        margin-bottom: 0;
        margin-top: 0;

        @media only screen and (min-width: $screen-xl) {
          margin-top: 0;
          font-size: toRem(20);
          line-height: getLineHeight(28, 20);
        }
      }
    }
  }

  .imgComponent {
    position: relative;
    height: toRem(286);
    margin-bottom: toRem(20);

    @media only screen and (min-width: $screen-md) {
      height: toRem(360);
      margin-bottom: toRem(30);
      margin-left: toRem(108);
      margin-right: toRem(108);
    }

    @media only screen and (min-width: $screen-xl) {
      flex: 0 1 65%;
      margin-bottom: 0;
      height: toRem(430);
      margin-left: 0;
      margin-right: 0;
    }

    img {
      object-fit: cover;
    }
  }
}

.faqDataContainer{
  .text{
    width: 80%;
    margin: 0 0 toRem(20) 0;
    font-size: toRem(14);
    line-height: getLineHeight(24, 14);
    opacity: 0.8;
    padding: toRem(2);

    @media only screen and (min-width: $screen-md) {
      width: unset;
      max-width: toRem(684);
      margin-bottom: toRem(15);
      position: relative;
    }

    @media only screen and (min-width: $screen-lg + 1) {
      max-width: toRem(1024);
      margin-bottom: toRem(30);
      font-size: toRem(18);
      line-height: getLineHeight(26, 18);
    }

    @media only screen and (max-width: $screen-sm) {
      width: 95%;
      max-width: unset;
    }

    .btn {
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      line-height: 1.1;
      border-bottom: 1px solid #fff;

      @media only screen and (min-width: ($screen-lg + 1)) {
        cursor: pointer;
      }
    }

    .listItemWithTitle + .listItemWithTitle {
      padding-top: toRem(10);
    }

    .listItemWithTitle {
      .listTitle {
        font-weight: 600;
      }
    }
  }

  .contactForm {
    display: inline;
  }
}

.whenToUseContainer {
  .text{
    margin: 0 0 toRem(20) 0;
    font-size: toRem(16);
    line-height: getLineHeight(24, 16);
    z-index: 1;

    @media only screen and (min-width: $screen-md) {
      width: unset;
      max-width: toRem(595);
      position: relative;
      font-size: toRem(18);
      line-height: getLineHeight(26, 18);
      margin-bottom: toRem(30);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      max-width: toRem(1228);
    }

    @media only screen and (max-width: $screen-sm) {
      padding-right: toRem(15);
      max-width: unset;
    }

    .btn {
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      line-height: 1.1;
      border-bottom: 1px solid #fff;

      @media only screen and (min-width: ($screen-lg + 1)) {
        cursor: pointer;
      }
    }

    .listItemWithTitle {
      padding-top: toRem(10);
      .listTitle {
        font-weight: 600;
      }
    }
  }
}

.linkText {
  color: #0085FF;
  transition: opacity 0.5s ease-in-out;
  background-color: transparent;
  border: 0 solid transparent;
  outline: none;
  padding: 0;
  
  @media only screen and (min-width: $screen-lg) {
    cursor: pointer;
  }

  &:hover {
    background: transparent;
    opacity: 0.6;
  }
}

.crossPlatformList {
  margin-top: 1em;

  li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '•';
      position: absolute;
      left: 0;
    }

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    span {
      font-weight: 500;
      margin-left: 7px;
    }
  }
}
.headerText {
  width: 70%;

  @media only screen and (max-width: $screen-lg) {
    width: 100%;
  }
}

.listItems {
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: toRem(26);

  .listItem {
    display: flex;
    margin-bottom: toRem(10);

    &:last-child {
      margin-bottom: 0;
    }

    span {
      margin-right: toRem(10);
    }
  }
}

.noMargin {
  margin: toRem(20) 0;

  @media only screen and (max-width: $screen-lg) {
    font-size: toRem(18) !important;
  }

  @media only screen and (max-width: $screen-md - 1) {
    font-size: toRem(16) !important;
  }
}

.qaText{
  margin-top: toRem(20) !important;

  @media only screen and (min-width: $screen-md) {
    font-size: toRem(20);
  }
}

.qaImgContainer{
  @media only screen and (min-width: ($screen-xxl + 1)) {
    min-height: calc(500px + 4vw);
  }

  @media only screen and (max-width: $screen-xxl) {
    min-height: toRem(500);
  }

  @media only screen and (max-width: $screen-xl) {
    min-height: toRem(355);
  }

  @media only screen and (max-width: ($screen-md - 1)) {
    min-height: toRem(217);
  }
}

.textFitness {
  padding-bottom: toRem(20);

  @media only screen and (max-width: $screen-md - 1) {
    padding-bottom: toRem(10);
  }
}

.qaDataContainer{
  @media only screen and (min-width: $screen-xl) {
    gap: toRem(90);
  }
}

.aboutUkraine {
  justify-content: space-between;
  padding-left: toRem(80);
  padding-right: toRem(60);
  gap: toRem(20);

  @media only screen and (max-width: $screen-lg) {
    gap: 0;
  }

  @media only screen and (max-width: ($screen-md - 1)) {
    padding: 0;
    margin-bottom: toRem(20);
  }

  .wrapper {
    display: block;

    @media only screen and (max-width: ($screen-md - 1)) {
      margin-left: toRem(15);
      margin-right: toRem(15);
    }

    .textContent {
      width: toRem(520);
      max-width: toRem(600);

      @media only screen and (max-width: ($screen-xxl - 1)) {
        width: calc(100vw - 860px);
      }

      @media only screen and (max-width: $screen-xl) {
        width: 100%;
        max-width: 100%;
      }

      .aboutText {
        margin-top: 0;
        margin-bottom: toRem(30);
      }

      span {
        font-size: toRem(18);

        @media only screen and (max-width: ($screen-md - 1)) {
          font-size: toRem(16);
          line-height: getLineHeight(24, 16);
        }
      }
    }
  }

  .imgPadding {
    @media only screen and (max-width: ($screen-md - 1)) {
      margin: 0 toRem(15);
    }

    .imgComponent {
      height: toRem(694);
      width: toRem(560);
      margin: 0;

      @media only screen and (max-width: $screen-xl) {
        width: 100%;
        height: 90vw;
      }

      @media only screen and (max-width: $screen-lg) {
        height: calc(100vw - 64px);
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        height: calc(100vw - -48px);
      }
    }
  }
}


.imgPaddingELearning {
  padding: 0;

  @media only screen and (max-width: $screen-lg) {
    padding: 0 toRem(50);
  }

  @media only screen and (max-width: $screen-md - 1) {
    padding: 0 toRem(15);
  }
}

.imgComponentELearning {
  position: relative;
  width: toRem(560);
  height: toRem(620);
  margin-bottom: toRem(20);

  @media only screen and (max-width: $screen-lg) {
    width: 100%;
  }

  @media only screen and (max-width: $screen-md - 1) {
    height: toRem(286);
  }

  img {
    object-fit: cover;
  }
}

.hiddenItem {
  @media only screen and (max-width: $screen-lg) {
    display: none;
  }
}

.hiddenItemMobile {
  @media only screen and (max-width: $screen-md - 1) {
    display: none;
  }
}

.headerFont {
  @include generalSansFont(30, 500, 40);

  @media only screen and (max-width: $screen-md - 1) {
    @include generalSansFont(20, 500, 28);
  }
}

.blockFont {
  @include generalPlexMono(18, 400, 24);

  @media only screen and (max-width: $screen-md - 1) {
    @include generalPlexMono(16, 500, 21);
  }
}

.marginCardContent {
  margin-bottom: toRem(20) !important;

  &:last-child {
    margin-bottom: 0 !important;
  }
}


.imgComponentElearning {
  position: relative;
  margin-bottom: toRem(20);
  width: 100%;
  max-width: 560px;
  max-height: 620px;

  @media only screen and (max-width: $screen-xl) {
    display: none;
  }

}

.imgComponentElearningTablet {
  position: relative;
  margin-bottom: toRem(20);
  display: none;

  @media only screen and (max-width: $screen-xl) {
    display: inline-block;
    width: 100%;
  }

  @media only screen and (max-width: ($screen-md - 1)) {
    display: none;
  }

}

.imgComponentElearningMobile {
  position: relative;
  margin-bottom: toRem(20);
  display: none;

  @media only screen and (max-width: ($screen-md - 1)) {
    display: inline-block;
    width: 100%;
  }
}

.paragraph {
  margin-bottom: toRem(20) !important;

  &.chinEasy {
    @media only screen and (min-width: $screen-md) {
      margin-bottom: toRem(30) !important;
    }
  }
}

.font30 {
  font-size: toRem(30);
  line-height: getLineHeight(40, 30);
  font-weight: 500;

  @media only screen and (max-width: $screen-md - 1) {
    font-size: toRem(20);
    line-height: getLineHeight(28, 20);
  }
}

.numberInnerAi {
  @media only screen and (max-width: ($screen-lg)) {
    margin-right: toRem(30);
  }
  @media only screen and (max-width: $screen-md - 1) {
    margin-right: toRem(10);
  }
}

.wrapperInnerAi {
  @media only screen and (max-width: $screen-md - 1) {
    span{
      font-size: toRem(20);
    }
  }
}

.accordionH3 {
  font-size: toRem(30);
  line-height: getLineHeight(40, 30);
  font-weight: 500;

  @media only screen and (max-width: $screen-md - 1) {
    font-size: toRem(20);
    line-height: getLineHeight(28, 20);
  }
}

.listAccordion {
  margin-top: toRem(20);

  .itemList {
    display: flex;
    margin-bottom: 0;

    .symbolMargin {
      margin-right: toRem(10);
      padding-top: toRem(5);
    }
  }
}

.accordionHeader {
  color: var(--color-white);
  >h3 {
    font-weight: 500 !important;
  }
}

.spatio {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  gap: toRem(20);
  
  @media only screen and (max-width: $screen-xl) {
    flex-direction: column;
    padding-bottom: 0;
  }
  
  @media only screen and (max-width: $screen-lg) {
    gap: 0;
  }
  
  @media only screen and (max-width: ($screen-md - 1)) {
    padding: 0;
    margin-bottom: toRem(20);
  }
  
  .wrapper {
    display: block;
    
    @media only screen and (max-width: $screen-xl) {
      order: 2;
    }
    
    @media only screen and (max-width: ($screen-md - 1)) {
      margin-left: toRem(15);
      margin-right: toRem(15);
    }
    
    .textContent {
      padding-left: toRem(70);
      width: toRem(452);
      max-width: toRem(452);
      
      @media only screen and (max-width: $screen-xl) {
        padding-left: 0;
        width: 100%;
        max-width: 100%;
      }
      
      .aboutText {
        margin-top: 0;
        margin-bottom: toRem(30);
      }
      
      span {
        font-size: toRem(18);
        
        @media only screen and (max-width: ($screen-md - 1)) {
          font-size: toRem(16);
          line-height: getLineHeight(24, 16);
        }
      }
    }
  }
  
  .imgPadding {
    @media only screen and (max-width: ($screen-md - 1)) {
      margin: 0 toRem(15);
    }
    
    .imgComponent {
      height: toRem(580);
      width: toRem(708);
      margin: 0;
      
      @media only screen and (max-width: $screen-xl) {
        width: 100%;
        height: 71vw;
      }
      
      @media only screen and (max-width: $screen-lg) {
        height: calc(100vw - 224px);
        min-height: toRem(580);
        margin-bottom: toRem(30);
      }
      
      @media only screen and (max-width: ($screen-md - 1)) {
        height: calc(100vw - 156px);
        min-height: toRem(270);
      }
      
      @media only screen and (max-width: ($screen-sm - 150)) {
        height: calc(100vw - 98px);
      }
      
      img {
        object-fit: cover;
      }
    }
  }
}

.paragraphFayno {
  &:not(:first-of-type) {
    margin-top: toRem(30) !important;

    @media only screen and (max-width: ($screen-md - 1)) {
      margin-top: toRem(20) !important;
    }
  }
  &.list {
    margin-top: toRem(20) !important;
    margin-bottom: 0 !important;

    @media only screen and (max-width: ($screen-md - 1)) {
      margin-top: toRem(15) !important;
    }

    .listItem {
      display: flex;

      &:not(:first-of-type) {
        margin-top: toRem(5);
      }

      &::before {
        content: '﹂';
        margin-right: toRem(10);
      }
    }
  }
}
