@import '../../../pages/App/sass/breakpointsVariables';
@import '../../../pages/App/sass/functions';

.container {
  position: relative;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: toRem(528);

    @media only screen and (max-width: $screen-lg) {
      height: toRem(480);
    }

    @media only screen and (max-width: $screen-md - 1) {
      height: toRem(431);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}