@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.container {
  position: relative;

  .img {
    display: none;

    @media only screen and (max-width: $screen-md - 1) {
      display: block;
    }
  }
}

.title {
  position: relative;
  margin: toRem(80) toRem(70);
  max-width: toRem(890);
  
  @media only screen and (min-width: $screen-xxxl) {
    margin: toRem(80) toRem(80);
  }

  @media only screen and (max-width: $screen-lg) {
    margin: toRem(80) toRem(15) toRem(40) toRem(30);
    max-width: toRem(708);
  }

  @media only screen and (max-width: ($screen-md - 1)) {
    margin: toRem(80) toRem(15) toRem(40) toRem(15);
    max-width: toRem(408);
  }
}
