@import "../../App/sass/functions";
@import "../../App/sass/breakpointsVariables";

.forSection {
  padding: toRem(100) 0;
  max-width: toRem(1360);
  margin: 0 auto;
  
  @media only screen and (max-width: $screen-lg) {
    padding: toRem(50) 0;
  }
  
  @media only screen and (max-width: $screen-md - 1) {
    padding: toRem(35) 0;
  }
  
  .container {
    margin: 0 auto;
    padding-left: toRem(15);
    padding-right: toRem(15);
    
    @media only screen and (min-width: $screen-md) {
      padding-left: toRem(30);
      padding-right: toRem(30);
    }
    
    @media only screen and (min-width: ($screen-lg + 1)) {
      padding-left: toRem(20);
      padding-right: toRem(20);
    }
    
    .textContent {
      max-width: toRem(550);
      margin-left: auto;
      
      @media only screen and (max-width: $screen-lg) {
        max-width: toRem(389);
      }
      
      @media only screen and (max-width: $screen-md - 1) {
        margin-left: 0;
        max-width: 100%;
      }
      
      .title {
        font-family: var(--playfairDisplayFont), serif;
        font-size: toRem(48);
        line-height: normal;
        font-weight: 500;
        margin-bottom: toRem(30);
        
        @media only screen and (max-width: $screen-lg) {
          margin-bottom: toRem(24);
          font-size: toRem(36);
        }
        
        @media only screen and (max-width: $screen-md - 1) {
          font-size: toRem(24);
        }
        
        span {
          color: var(--color-pink2)
        }
      }
      
      .text {
        font-family: var(--satoshiFont), sans-serif;
        font-size: toRem(24);
        color: var(--color-gray5);
        letter-spacing: 0.2px;
        line-height: normal;
        
        @media only screen and (max-width: $screen-lg) {
          font-size: toRem(18);
        }
        
        @media only screen and (max-width: $screen-md - 1) {
          font-size: toRem(16);
        }
      }
    }
  }
}
