@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables.scss";

.container {
  width: 100%;
  position: relative;
  display: flex;
  gap: toRem(10);
  margin-bottom: toRem(10);
  overflow: hidden;
  
  @media screen and (max-width: $screen-lg) {
    gap: toRem(5);
    margin-bottom: toRem(5);
  }
  
  @media screen and (max-width: ($screen-md - 1)) {
    flex-direction: column;
  }
  
  .image {
    width: 50%;
    height: auto;

    @media screen and (max-width: ($screen-md - 1)) {
      width: 100%;
    }
  }
}
