.coreTechWr {
  background: #F1FCFF;
  width: 100%;
  padding: 160px 0;

  h2 {
    font-size: 50px;
    display: block;
    font-family: var(--ceraGRFont);
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 61.34px;

    @media (max-width: 768px) {
      font-size: 40px;
    }

    @media (max-width: 575px) {
      font-size: 36px;
    }
  }

  .coreTech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .coreTechItem {
      background: #FFFFFF;
      box-shadow: 30px 37px 48px rgba(0, 0, 0, 0.04);
      border: 1px solid #FFFFFF;
      margin-right: 33px;
      margin-top: 32px;
      width: 280px;
      height: 160px;
      text-align: center;
      padding-top: 32px;
      font-family: var(--ceraGRFont);

      @media (max-width: 575px) {
        max-width: 176px;
        width: 100%;
        margin: 0;
      }

      p {
        width: 180px;
        margin: 16px auto 0;
        line-height: 21px;
      }
    }

    @media (max-width: 768px) {
      .coreTechItem {
        width: 43%;
        margin-right: 20px;
        margin-top: 29px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    @media (max-width: 575px) {
      margin-top: 23px;
      justify-content: center;
      gap: 7px;
    }
  }

  @media (max-width: 768px) {
    padding: 96px 0;
  }

  @media (max-width: 575px) {
    padding: 80px 0;
    .coreTech {
      .coreTechItem {
        max-width: 176px;
        width: 100%;
        margin: 0;
        gap: 7px;
        height: 156px;

        p {
          width: 74%;
          margin-top: 1px;
        }
      }
    }
  }

}
