@import '../../../App/sass/breakpointsVariables.scss';

.infoWr {
  position: absolute;
  bottom: -88px;
  right: 0;
  width: 78.6%;
  max-width: 626px;
  height: 176px;
  z-index: 1;
  font-family: var(--ceraGRFont);

  @media (max-width: 800px) {
    width: 72%;
  }

  .yellowLineBg {
    @media only screen and (max-width: #{450px}) {
      display: none;
    }
  }

  .infoCardWr {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 15%;
    position: relative;
    top: -16px;

    @media only screen and (max-width: #{968px}) {
      padding-right: 5%;
    }

    @media only screen and (max-width: #{768px}) {
      padding-right: 0;
      justify-content: center;
    }

    .infoCard {
      width: 43%;
      height: 104px;
      display: flex;
      margin: 0 16px 16px 0;
      padding: 32px;
      background: white;

      @media only screen and (max-width: #{450px}) {
        width: 46vw;
        padding-left: 10px;
        padding-right: 10px;
      }

      &:nth-child(3), &:nth-child(4) {
        box-shadow: 30px 37px 48px rgba(0, 0, 0, 0.04);
      }

      .infoCardImg {
        display: inline-block;
        margin-right: 16px;
      }

      .infoCardText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        font-style: italic;
        font-weight: normal;

        p:first-child {
          font-family: var(--poppinsFont), sans-serif;
          font-weight: 400;
        }

        p {
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  @media (max-width: 700px) {
    display: none;
  }
}

.infoWr.mobile {
  display: none;
  position: static;
  width: 100vw;
  margin: 40px -40px 80px;
  padding: 8px;
  height: 255px;
  background: #F6BE25;
  max-width: none;

  @media (max-width: 576px) {
    margin-left: -16px;
    margin-right: -16px;
  }

  .infoCardWr {
    top: 0;
    .infoCard {
      height: 135px;
      display: block;
      margin: 0;
      padding: 24px 32px 18px;
      background: white;

      @media only screen and (max-width: #{450px}) {
        padding-left: 10px;
        padding-right: 10px;
      }

      &:nth-child(odd) {
        margin-right: 7px;
      }

      &:nth-child(-n+2) {
        margin-bottom: 7px;
      }

      .infoCardText {
        font-size: 14px;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .infoCardImg {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
      }
    }
  }

  @media (max-width: 700px) {
    display: block;
  }
}
