@import "../../App/sass/functions";
@import "../../App/sass/breakpointsVariables";

.resultSection {
  .container {
    padding-bottom: toRem(20);

    @media only screen and (min-width: $screen-md) {
      padding-bottom: toRem(30);
    }

    .resultCard {
      padding-bottom: toRem(24);

      @media only screen and (min-width: $screen-lg + 1) {
        padding-bottom: toRem(32);
      }

      .content {
        @media only screen and (min-width: $screen-lg + 1) {
          display: flex;
          gap: 12%;
          align-items: flex-end;
        }

        .titles {
          @media only screen and (min-width: $screen-lg + 1) {
            flex: 1 0 calc((100% - 12%) / 2);
          }

          .sectionTitle {
            padding-bottom: toRem(24);

            @media only screen and (min-width: $screen-lg + 1) {
              padding-bottom: toRem(32);
            }
          }

          h2 {
            br {
              display: none;

              @media only screen and (min-width: $screen-md) {
                display: block;
              }
            }
          }
        }

        p {
          @media only screen and (min-width: $screen-lg + 1) {
            flex: 1 0 calc((100% - 12%) / 2);
          }
        }
      }
    }
  }
}
