@import "../../App/sass/functions";
@import "../../App/sass/breakpointsVariables";

.purposeSection {
  .container {
    padding-bottom: toRem(20);
    z-index: 3;
    position: relative;

    @media only screen and (min-width: $screen-md) {
      padding-bottom: toRem(30);
    }

    .purposeCard {
      @media only screen and (min-width: $screen-lg + 1) {
        display: flex;
        justify-content: space-between;
        gap: toRem(36);
      }

      .mobileCard {
        @media only screen and (min-width: $screen-lg + 1) {
          flex-basis: toRem(669);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        h2 {
          @media only screen and (min-width: $screen-md) {
            letter-spacing: 0.1px;
          }

          @media only screen and (min-width: $screen-lg + 1) {
            letter-spacing: 0;
            max-width: toRem(600);
          }
        }
      }
    }
  }
}
