@import '../../../pages/App/sass/functions';
@import '../../../pages/App/sass/breakpointsVariables';

.linkItem {
  margin-bottom: toRem(20);
  pointer-events: auto;
  
  @media only screen and (min-width: $screen-md) {
    margin-bottom: toRem(10);
  }
  
  a {
    transition: all 0.3s;

    br {
      @media only screen and (max-width: ($screen-md - 1)) {
        display: none;
      }
    }
  }
  
  a:active {
    color: var(--color-cruise);
  }
  
  @media only screen and (min-width: $screen-lg + 1) {
    cursor: pointer;

    a:hover {
      color: var(--color-cruise);
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
