@import "../../../App/sass/breakpointsVariables.scss";

$blackProjectX: #191A1F;
$orangeProjectX: #FF6644;

.featuresSection {
  background-color: $blackProjectX;
  position: relative;
  overflow: hidden;

  .container {
    padding-top: 220px;
    padding-bottom: 20px;

    @media only screen and (min-width: 450px) {
      padding-top: 265px;
      padding-bottom: 55px;
    }

    @media only screen and (min-width: 550px) {
      padding-top: 125px;
    }

    @media only screen and (min-width: $screen-md) {
      padding-top: 200px;
      padding-bottom: 100px;
    }

    @media only screen and (min-width: $screen-lg) {
      padding-top: 230px;
    }

    h2 {
      position: relative;
      z-index: 2;

      @media only screen and (min-width: 450px) {
        padding-bottom: 40px;
      }
    }
  }

  .blur {
    background-color: $orangeProjectX;
    position: absolute;
    z-index: 1;
    filter: blur(60px);
    width: 212px;
    height: 412px;

    @media only screen and (min-width: $screen-md) {
      filter: blur(100px);
      width: 250px;
    }
  }

  .firstBlur {
    top: 420px;
    right: -240px;

    @media only screen and (min-width: 450px) {
      top: 300px;
    }

    @media only screen and (min-width: $screen-md) {
      top: 360px;
    }
  }

  .secondBlur {
    top: 1205px;
    left: -240px;

    @media only screen and (min-width: 450px) {
      top: 870px;
    }

    @media only screen and (min-width: $screen-md) {
      top: 950px;
    }
  }

  .thirdBlur {
    top: 1893px;
    right: -240px;

    @media only screen and (min-width: 450px) {
      top: 1370px;
    }

    @media only screen and (min-width: $screen-md) {
      top: 1470px;
    }
  }

  .fourthBlur {
    bottom: 1509px;
    left: -240px;

    @media only screen and (min-width: 450px) {
      bottom: 1150px;
    }

    @media only screen and (min-width: $screen-md) {
      bottom: 1200px;
    }
  }

  .fifthBlur {
    bottom: 739px;
    right: -240px;

    @media only screen and (min-width: 450px) {
      bottom: 600px;
    }

    @media only screen and (min-width: $screen-md) {
      bottom: 670px;
    }
  }

  .sixthBlur {
    bottom: 50px;
    left: -240px;

    @media only screen and (min-width: 450px) {
      bottom: 80px;
    }

    @media only screen and (min-width: $screen-md) {
      bottom: 120px;
    }
  }

  .featuresBg {
    display: none;

    @media only screen and (min-width: 450px) {
      display: block;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .bgImg {
      position: relative;
      z-index: 1;
    }
  }
}
