@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.badge {
  background-color: var(--color-light-blue);
  width: max-content;
  padding: toRem(5) toRem(10);
  position: relative;
  display: flex;
  font-size: toRem(18);
  line-height: toRem(26);
  align-items: center;
  font-family: var(--ibmPlexMono);

  .close {
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    margin-left: toRem(10);
    @media only screen and (min-width: ($screen-lg + 1)) {
      cursor: pointer;
    }

    .closeIcon {
      width: 20px;
      height: 20px;
    }
  }
}
