@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media only screen and (max-width: ($screen-md - 1)) {
    min-height: toRem(478);
    height: fit-content;
  }

  .statusBlock {
    .line {
      width: 100%;
      height: toRem(2);
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%);
      position: relative;
      margin-top: toRem(10);
    }

    .textStatusWrap {
      display: flex;
      justify-content: center;
      gap: toRem(75);
      margin-top: toRem(15);

      @media only screen and (max-width: $screen-xl) {
        gap: toRem(123);
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        gap: toRem(75);
      }

      >div {
        text-align: center;
        font-family: var(--robotoFont);
        font-size: toRem(12);
        font-style: normal;
        font-weight: 500;
        line-height: getLineHeight(16, 12);
        letter-spacing: 0.4px;
        color: #666;
        position: relative;

        .circle {
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: toRem(-20);
          left: 50%;
          transform: translateX(-50%);
          background-color: #666;
        }

        .active {
          background-color: rgba(0, 0, 0, 0.15);
          width: toRem(22);
          height: toRem(22);
          top: toRem(-27);
          display: flex;
          transition: .3s;

          &:before {
            content: "";
            position: absolute;
            width: toRem(11);
            height: toRem(11);
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--color-black);
          }
        }
      }

      .active {
        color: var(--color-black);
      }
    }
  }

  .formContainer{
    @media only screen and (max-width: ($screen-md - 1)) {
      padding-bottom: toRem(130);
    }
  }

  .formTitle {
    width: 100%;
    text-align: center;
    font-size: toRem(24);
    line-height: toRem(34);
    font-weight: 500;
    margin-top: toRem(20);
    margin-bottom: toRem(20);

    @media only screen and (max-width: $screen-xl) {
      margin-bottom: toRem(30);
    }

    @media only screen and (max-width: $screen-md - 1) {
      font-size: toRem(20);
      line-height: toRem(28);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: toRem(155);

    @media only screen and (max-width: $screen-xl) {
      margin: toRem(104) auto 0;
      max-width: toRem(370);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      margin-top: toRem(60);
    }

    .icon {
      width: toRem(80);
      height: toRem(80);

      @media only screen and (max-width: ($screen-md - 1)) {
        width: toRem(60);
        height: toRem(60);
      }
    }

    p {
      font-size: toRem(20);
      line-height: getLineHeight(28, 20);
      width: 80%;
      text-align: center;
      margin-top: toRem(30);
      @media only screen and (max-width: ($screen-md - 1)) {
        font-size: toRem(16);
        line-height: getLineHeight(24, 16);
        max-width: toRem(235);
        width: toRem(235);
      }
    }
  }

  @media only screen and (max-width: $screen-lg) {
    padding-bottom: 0;
  }

  .formFields {
    display: grid;
    grid-template-areas:
      "name"
      "email"
      "company"
      "country"
      "details";
    row-gap: toRem(20);

    @media only screen and (max-width: $screen-xl) {
      grid-template-areas:
      "name email"
      "company country"
      "details details";
      column-gap: toRem(20);
      row-gap: toRem(30);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      grid-template-areas:
        "name"
        "email"
        "company"
        "country"
        "details";
      column-gap: 0;
      row-gap: toRem(30);
    }

    .name {
      grid-area: name;
    }

    .email {
      grid-area: email;
    }

    .company {
      grid-area: company;
    }

    .country {
      grid-area: country;
    }

    .details {
      grid-area: details;
      textarea{
        max-height: toRem(56);
        min-height: toRem(56);
      }
    }
  }

  .fileAttachmentWrapper {
    margin-left: toRem(-15);
    margin-right: toRem(-15);
    z-index: 1;
    @media only screen and (min-width: $screen-md) {
      margin-left: 0;
      margin-right: 0;
    }

    @media only screen and (min-width: $screen-xl) {
      margin-top: toRem(5);
    }
  }

  .btnWrapper {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    gap: toRem(15);

    @media only screen and (max-width: $screen-xl) {
      flex-direction: row;
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      flex-direction: column;
    }
  }
}
