@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";
@import "../../../pages/App/sass/mixinsFonts.scss";

.listItems {
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: toRem(26);

  .listItem {
    display: flex;
    margin-bottom: toRem(15);

    span {
      margin-right: toRem(10);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hideItem {
  @media only screen and (max-width: $screen-lg) {
    display: none;
  }
}

.hideMobile {
  @media only screen and (max-width: 1390px) {
    display: none;
  }
}

.hideDesktop {
  display: none;
  @media only screen and (max-width: $screen-md - 1) {
    display: inline-block;
  }
}

.textTitle {
  display: block;
  max-width: toRem(1080);
  
  @media only screen and (min-width: $screen-xxxl) {
    max-width: 100%;
  }
  
  @media only screen and (max-width: $screen-lg) {
    padding-top: toRem(20);
  }
  
  @media only screen and (max-width: ($screen-md - 1)) {
    text-align: start;
  }
}

.OurInsightsTextTitle {
  display: block;
  max-width: toRem(1080);
  
  @media only screen and (min-width: $screen-xxxl) {
    max-width: 100%;
  }
  
  @media only screen and (max-width: ($screen-md - 1)) {
    text-align: start;
  }
}

.fintechWidthBlock {
  max-width: toRem(485);
  
  span {
    @include generalPlexMono(18, 400, 26);
  }

  @media only screen and (max-width: $screen-lg) {
    max-width: 100%;
  }

  @media only screen and (max-width: $screen-md - 1) {
    span {
      @include generalPlexMono(16, 400, 24);
    }
  }
}

.fintechSizeImage {
  max-width: toRem(560);
  max-height: toRem(486);

  @media only screen and (max-width: $screen-lg) {
    max-width: toRem(568);
    max-height: toRem(493);
  }
}

.imgPaddingFintech {
  flex: 0 1 50% !important;
}

.wrapperItem {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $screen-lg) {
    flex-direction: column;
  }
}

.titleInsight {
  @include generalSansFont(50, 500, 64);

  @media only screen and (max-width: $screen-lg) {
    @include generalSansFont(40, 500, 56);
  }

  @media only screen and (max-width: $screen-md - 1) {
    @include generalSansFont(25, 500, 35);
  }
}

.hideBr {
  @media only screen and (max-width: $screen-md - 1) {
    display: none;
  }
}

.cardsBox {
  @media only screen and (max-width: ($screen-md - 1)) {
    padding-bottom: toRem(20);
  }
}
