@import "../../../App/sass/mixinsAnimation";
@import "../../../../pages/App/sass/functions";
@import "../../../../pages/App/sass/breakpointsVariables.scss";

.desktop {
  margin: toRem(60) toRem(30) 0 toRem(30);
  display: flex;
  height: toRem(633);
  justify-content: center;

  @media only screen and (max-width: $screen-xxl) {
    margin-top: toRem(93);
    justify-content: unset;
  }

  @media only screen and (max-width: $screen-xl) {
    margin-top: toRem(50);
    height: toRem(560);
  }

  @media only screen and (max-width: $screen-lg) {
    margin-top: toRem(30);
    height: toRem(450);
  }

  .bigPictureWrapper, .smallPictureWrapper {
    img {
      width: 100%;
      height: auto;
    }
  }

  .bigPictureWrapper {
    transform-origin: left top;

    @media only screen and (max-width: $screen-xxl) {
      transform-origin: left;
    }
  }

  .smallPictureWrapper {
    margin-left: toRem(-75);
    align-self: end;
    transform-origin: right;
    box-shadow: 0 21.5379px 27.5685px rgba(27, 27, 27, 0.15);
    margin-bottom: toRem(-32);

    @media only screen and (max-width: $screen-xxl) {
      margin-bottom: 0;
    }
  }
}

.tablet {
  margin: toRem(103) toRem(30) toRem(56) toRem(50);
  display: flex;

  .bigPictureWrapper, .smallPictureWrapper {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  .bigPictureWrapper {
    margin-bottom: toRem(59);
    transform-origin: bottom;
    max-width: toRem(586);
    max-height: toRem(584);
  }

  .smallPictureWrapper {
    max-width: toRem(220);
    max-height: toRem(392);
    position: relative;
    margin-bottom: toRem(10);
    margin-left: -164px;
    align-self: end;
    transform-origin: right bottom;
    overflow: hidden;
    box-shadow: 0 21.5379px 27.5685px rgba(27, 27, 27, 0.15);
  }
}

.mobile {
  position: relative;
  bottom: toRem(-20);
  margin-top: toRem(-6);
  margin-left: toRem(47);
  max-height: toRem(225);

  .bigPictureWrapper, .smallPictureWrapper {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  .bigPictureWrapper {
    display: inline-block;
    max-width: toRem(229);
    max-height: toRem(228);
    overflow: hidden;
    transform-origin: bottom;
    bottom: toRem(-15);

    img {
      margin-bottom: toRem(-15);
    }
  }

  .smallPictureWrapper {
    display: inline-block;
    overflow: hidden;
    max-width: toRem(88);
    margin-left: toRem(-58);
    transform-origin: right bottom;
    box-shadow: 0 21.5379px 27.5685px rgba(27, 27, 27, 0.15);

    img {
      margin-bottom: toRem(-66);
    }
  }
}

.desktopAnimateBigPicture {
  animation-duration: 4000ms;
  animation-delay: 1000ms;
  animation-name: desktopAnimateBigPicture;

  @media only screen and (max-width: $screen-xl) {
    animation-name: desktopAnimateBigPicture1200px;
  }
}

.desktopAnimateSmallPicture, .tabletAnimateSmallPicture, .tabletAnimateBigPicture,
.mobileAnimateSmallPicture, .mobileAnimateBigPicture {
  animation-duration: 4000ms;
  animation-delay: 1000ms;
}

.desktopAnimateSmallPicture {
  animation-name: desktopAnimateSmallPicture;
}

.tabletAnimateSmallPicture, .tabletAnimateBigPicture, .mobileAnimateSmallPicture, .mobileAnimateBigPicture {
  animation-name: tabletAndMobileAnimation;
}

// ----------DESKTOP ANIMATION---------- //

@keyframes desktopAnimateBigPicture {
  0% {
    @include scale(1);
  }
  25% {
    @include scale(1);
  }
  50% {
    @include scale(1);
  }
  100% {
    @include scale(1.23);
  }
}

@keyframes desktopAnimateBigPicture1200px {
  0% {
    @include scale(1);
  }
  25% {
    @include scale(1);
  }
  50% {
    @include scale(1);
  }
  100% {
    @include scale(1.18);
  }
}

@keyframes desktopAnimateSmallPicture {
  0% {
    @include scale(1);
  }
  25% {
    @include scale(1);
  }
  50% {
    @include scale(1);
  }
  100% {
    @include scale(1.35);
  }
}

// ----------TABLET && MOBILE ANIMATION---------- //

@keyframes tabletAndMobileAnimation {
  0% {
    @include scale(1);
  }
  25% {
    @include scale(1);
  }
  50% {
    @include scale(1);
  }
  100% {
    @include scale(1.1);
  }
}
