@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.resultsSection {
  background-color: var(--color-black);
  position: relative;

  .bgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: toRem(540);

    @media only screen and (min-width: $screen-lg + 1) {
      height: toRem(880);
    }

    img {
      object-fit: cover;
    }
  }

  .container {
    padding-top: toRem(80);
    z-index: 2;
    position: relative;

    @media only screen and (min-width: $screen-md) {
      padding-top: toRem(74);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding-top: toRem(40);
      max-width: toRem(1360);
    }

    @media only screen and (min-width: $screen-xl) {
      padding-top: toRem(160);
    }

    .title {
      color: var(--color-white);
      text-align: center;
      max-width: toRem(330);
      margin: 0 auto;
      padding-bottom: toRem(5);

      @media only screen and (min-width: $screen-md) {
        max-width: toRem(580);
        padding-bottom: toRem(60);
      }

      @media only screen and (min-width: $screen-lg + 1) {
        max-width: toRem(700);
        padding-bottom: toRem(40);
      }
    }

    .items {
      list-style: none;

      @media only screen and (min-width: $screen-md) {
        display: flex;
        gap: toRem(15);
      }

      @media only screen and (min-width: $screen-lg + 1) {
        gap: toRem(40);
      }
    }
  }
}
