@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.ourExpertiseSection {
  .container {
    padding-top: toRem(80);

    @media only screen and (min-width: $screen-md) {
      padding-top: toRem(80);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding-top: toRem(120);
    }

    .title {
      @media only screen and (min-width: $screen-lg + 1) {
        font-size: toRem(40);
        line-height: getLineHeight(56, 40);
      }
    }

    .textContainer {
      @media only screen and (min-width: $screen-xl) {
        display: flex;
        gap: 3%;
        padding-bottom: toRem(80);
      }

      .text {
        margin: 0;

        @media only screen and (min-width: $screen-xl) {
          flex: 0 1 50%;
        }

        &:first-of-type {
          padding-top: toRem(40);
          padding-bottom: toRem(60);

          @media only screen and (min-width: $screen-md) {
            padding-bottom: toRem(40);
            max-width: toRem(551);
          }

          @media only screen and (min-width: $screen-lg + 1) {
            padding-bottom: toRem(34);
          }

          @media only screen and (min-width: $screen-xl) {
            max-width: unset;
            padding-right: 100px;
          }
        }

        &:last-of-type {
          padding-bottom: toRem(40);

          @media only screen and (min-width: $screen-md) {
            max-width: toRem(540);
            margin-left: auto;
          }

          @media only screen and (min-width: $screen-lg + 1) {
            padding-bottom: toRem(80);
            max-width: toRem(551);
          }

          @media only screen and (min-width: $screen-xl) {
            padding-top: 146px;
            padding-bottom: 0;
            margin-left: 0;
            max-width: unset;
            padding-right: 100px;
          }
        }
      }
    }
  }

  .accordionContainer {
    padding-left: toRem(15);
    padding-right: toRem(15);

    @media only screen and (min-width: $screen-md) {
      padding-left: toRem(30);
      padding-right: toRem(30);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding-left: toRem(70);
      padding-right: toRem(70);
    }

    @media only screen and (min-width: $screen-xxxl) {
      padding-left: toRem(80);
      padding-right: toRem(80);
    }
  }
}
