@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.card {
  padding: toRem(24) 0;

  @media only screen and (min-width: ($screen-lg + 1)) {
    padding: toRem(40) 0;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid #5F5E68;
  }

  h3 {
    font-weight: 500;
    font-size: toRem(24);
    line-height: toRem(32);
    color: #C9C9D1;
    padding-bottom: toRem(16);

    @media only screen and (min-width: $screen-md) {
      font-size: toRem(32);
      line-height: toRem(43);
    }

    @media only screen and (min-width: ($screen-lg + 1)) {
      font-size: toRem(40);
      line-height: toRem(54);
      padding-bottom: toRem(13);
    }
  }
}
