@import "../../../../pages/App/sass/functions";
@import "../../../../pages/App/sass/breakpointsVariables";
@import "../../../../pages/App/sass/mixinsAnimation.scss";
@import "../../../../pages/App/sass/mixinsFonts.scss";

.content {
  width: toRem(1290);
  margin: 0 auto;

  @media only screen and (max-width: $screen-xxl) {
    width: toRem(1110);
  }

  @media only screen and (max-width: $screen-xl) {
    width: toRem(924);
  }

  @media only screen and (max-width: $screen-lg) {
    width: auto;
    padding: 0 toRem(50);
  }

  @media only screen and (max-width: ($screen-md - 1)) {
    padding: toRem(30) toRem(30) 0;
  }

  .article {
    color: var(--color-gentian-blue);
    font: 400 toRem(20)/toRem(28) var(--muktaVaani), sans-serif;
    position: relative;

    @media only screen and (max-width: ($screen-md - 1)) {
      font-size: toRem(16);
      line-height: toRem(22);
    }

    .notice {
      max-width: toRem(700);
      width: 100%;
      font-weight: 400;
      padding: toRem(30);
      background: var(--color-white);
      box-shadow: 0 toRem(10) toRem(20) rgba(0, 0, 0, .1);
      @include radius(toRem(3));
      z-index: 1;
      position: absolute;
      flex-direction: column;

      @media only screen and (max-width: $screen-xxl) {
        max-width: toRem(635);
      }

      @media only screen and (max-width: $screen-xl) {
        max-width: toRem(527);
      }

      @media only screen and (max-width: $screen-lg) {
        max-width: none;
        position: static;
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        padding: toRem(15);
      }

      &.reverse {
        right: 8.6%;
        max-width: toRem(630);

        @media only screen and (max-width: $screen-xxl) {
          right: 0;
        }

        @media only screen and (max-width: $screen-xl) {
          max-width: toRem(530);
        }

        @media only screen and (max-width: $screen-lg) {
          margin-top: toRem(48);
          max-width: none;
          position: static;
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          padding: toRem(17);
          margin-top: toRem(26);
        }

        @media only screen and (max-width: $screen-sm) {
          padding-bottom: toRem(24);
        }

        p {
          margin-bottom: toRem(50);

          @media only screen and (max-width: $screen-lg) {
            margin-bottom: toRem(30);
          }

          @media only screen and (max-width: ($screen-md - 1)) {
            margin-bottom: toRem(25);
          }
        }

        .listItem {
          p {
            margin-bottom: 0;
          }
        }

        ul li {
          list-style: none;
          display: flex;
          align-items: flex-start;

          &::before {
            background-color: var(--color-bright-red);
            content: "";
            display: block;
            max-width: toRem(10);
            width: 100%;
            height: toRem(10);
            @include radius(toRem(100));
            margin: toRem(10) toRem(15) 0 0;

            @media only screen and (max-width: ($screen-md - 1)) {
              margin: toRem(5) toRem(9) 0 0;
            }
          }

          &:not(:last-child) {
            margin-bottom: toRem(30);

            @media only screen and (max-width: $screen-lg) {
              margin-bottom: toRem(25);
            }

            @media only screen and (max-width: ($screen-md - 1)) {
              margin-bottom: toRem(20);
            }
          }
        }
      }

      &.advantage {
        width: toRem(487);
        font-size: 1em;
        font-weight: 400;
        top: toRem(50);
        left: -39%;

        @media only screen and (max-width: $screen-xxl) {
          left: -52%;
        }

        .title {
          margin-bottom: toRem(43);

          @media only screen and (max-width: $screen-xl) {
            margin-bottom: toRem(30);
          }

          @media only screen and (max-width: $screen-lg) {
            margin-bottom: toRem(33);
          }

          @media only screen and (max-width: ($screen-md - 1)) {
            margin-bottom: toRem(23);
          }
        }

        @media only screen and (max-width: $screen-xl) {
          margin-bottom: toRem(90);
        }

        @media only screen and (max-width: $screen-lg) {
          width: 100%;
          margin-bottom: toRem(50);
          margin-top: toRem(50);
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          padding: toRem(15);
          margin-bottom: toRem(30);
          margin-top: toRem(28);
        }

        ul li {
          list-style: none;

          .svg {
            margin-bottom: toRem(10);

            @media only screen and (max-width: ($screen-md - 1)) {
              margin-bottom: toRem(6);
            }

            &.simulator {
              max-width: toRem(39);
              max-height: toRem(33);
            }

            &.calculator {
              max-width: toRem(32);
              max-height: toRem(40);
            }
          }

          &:not(:last-child) {
            margin-bottom: toRem(30);

            @media only screen and (max-width: $screen-lg) {
              margin-bottom: toRem(29);
            }

            @media only screen and (max-width: $screen-lg) {
              margin-bottom: toRem(20);
            }
          }
        }
      }

      &.resultingNotice {
        position: relative;
        z-index: 1;
        max-width: toRem(740);
        box-shadow: 0 toRem(10) toRem(20) rgba(0, 0, 0, .1);
        @include radius(toRem(3));
        margin-bottom: toRem(50);

        @media only screen and (max-width: $screen-xxl) {
          max-width: toRem(635);
        }

        @media only screen and (max-width: $screen-xl) {
          max-width: toRem(527);
          margin-bottom: toRem(40);
        }

        @media only screen and (max-width: $screen-lg) {
          max-width: none;
          margin-bottom: toRem(240);
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          margin-bottom: toRem(120);
        }

        @media only screen and (max-width: $screen-sm) {
          margin-bottom: toRem(100);
        }
      }
    }

    .idea {
      display: flex;
      flex-direction: column;
      margin-bottom: toRem(58);

      @media only screen and (max-width: $screen-xxl) {
        margin-bottom: toRem(73);
      }

      @media only screen and (max-width: $screen-xl) {
        margin-bottom: toRem(60);
      }

      @media only screen and (max-width: $screen-lg) {
        margin-bottom: toRem(51);
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        margin-bottom: toRem(35);
      }
    }

    .ideaImg {
      max-width: 66%;
      width: 100%;
      height: toRem(540);
      @include radius(toRem(3));
      margin-top: toRem(20);
      margin-left: auto;
      position: relative;
      box-shadow: 0 toRem(10) toRem(20) rgba(0, 0, 0, .1);

      @media only screen and (max-width: $screen-xxl) {
        background-size: cover;
        height: toRem(450);
        margin-top: toRem(50);
      }

      @media only screen and (max-width: $screen-xl) {
        height: toRem(373);
      }

      @media only screen and (max-width: $screen-lg) {
        max-width: none;
        height: toRem(410);
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        height: toRem(190);
        margin-top: toRem(28);
      }

      @media only screen and (max-width: $screen-sm) {
        height: toRem(160);
        margin-top: toRem(28);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .dots {
        position: absolute;
        right: 100%;
        top: 0;
        height: 100%;
        width: 100%;

        img {
          object-fit: contain;
          object-position: right;
        }
      }
    }

    .startProject {
      width: toRem(850);
      margin: toRem(50) 0 toRem(-5);
      @include radius(toRem(3));
      box-shadow: 0 toRem(10) toRem(20) rgba(0, 0, 0, .1);

      @media only screen and (max-width: $screen-xxl) {
        width: toRem(730);
      }

      @media only screen and (max-width: $screen-xl) {
        width: toRem(606);
      }

      @media only screen and (max-width: $screen-lg) {
        width: 100%;
        margin-top: 0;
      }
    }

    .text {
      max-width: 66%;
      width: 100%;
      margin-left: auto;
      flex-direction: column;

      @media only screen and (max-width: $screen-lg) {
        max-width: none;
      }

      p {
        max-width: 87%;
        width: 100%;
        line-height: 1.4em;

        @media only screen and (max-width: $screen-xxl) {
          max-width: none;
        }
      }

      .advantage {
        margin: toRem(100) 0;

        p {
          font: 300 1.25em/1.3em var(--muktaVaani), sans-serif;
          color: var(--color-black);
        }

        .redText {
          color: var(--color-crimson);
        }

        @media only screen and (max-width: $screen-xxl) {
          max-width: 100%;
        }

        @media only screen and (max-width: $screen-xl) {
          margin: toRem(80) 0 toRem(90);
        }

        @media only screen and (max-width: $screen-lg) {
          margin: toRem(60) 0;
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          margin: toRem(30) 0;
        }
      }

      .technologyIcons {
        display: flex;
        flex-direction: row;
        margin: toRem(50) 0;

        @media only screen and (max-width: $screen-xl) {
          margin: toRem(40) 0;
        }

        @media only screen and (max-width: $screen-lg) {
          margin: toRem(40) auto;
          justify-content: center;
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          margin: toRem(33) auto;
        }

        img {
          width: auto;
          height: toRem(80);

          &:not(:last-child) {
            margin-right: toRem(40);
          }
        }
      }
    }

    .images {
      display: flex;
      justify-content: flex-end;
      margin-bottom: toRem(200);

      @media only screen and (max-width: $screen-xxl) {
        margin-bottom: toRem(170);
      }

      @media only screen and (max-width: $screen-xl) {
        margin-bottom: toRem(150);
      }

      @media only screen and (max-width: $screen-lg) {
        margin-bottom: toRem(108);
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        margin-bottom: toRem(55);
      }

      @media only screen and (max-width: $screen-sm) {
        margin-bottom: toRem(47);
      }

      img {
        width: 57%;
        position: relative;
        @include radius(toRem(3));
        box-shadow: 0 toRem(10) toRem(20) rgba(0, 0, 0, .1);

        &:last-child {
          position: absolute;
          left: 0;
          top: 11%;
          z-index: 1;
        }
      }
    }

    .resultingImages {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      margin-top: toRem(100);

      @media only screen and (max-width: $screen-xl) {
        margin-top: toRem(90);
      }

      @media only screen and (max-width: $screen-lg) {
        margin-top: toRem(60);
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        margin-top: toRem(25);
      }

      @media only screen and (max-width: $screen-sm) {
        margin-top: toRem(29);
      }

      img:not(.dots) {
        width: 66%;
        height: auto;
        @include radius(toRem(3));
        box-shadow: 0 toRem(10) toRem(20) rgba(0, 0, 0, .1);
        position: relative;
        z-index: 1;
        margin-left: auto;

        &:first-child {
          margin-bottom: 9%;
        }
      }

      img.middle {
        position: absolute;
        top: 22%;
        left: 0;
        z-index: 2;
      }

      .dots {
        height: 37%;
        width: auto;
        position: absolute;
        bottom: 0;
        left: 4%;
      }
    }
  }

  .pluses {
    margin-top: toRem(96);

    @media only screen and (max-width: $screen-xl) {
      margin-top: toRem(86);
    }

    @media only screen and (max-width: $screen-lg) {
      margin-top: toRem(51);
      display: flex;
      flex-direction: column-reverse;
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      margin-top: toRem(30);
    }
  }

  .solutionsList {
    margin: toRem(59) 0 toRem(100);

    @media only screen and (max-width: $screen-xxl) {
      margin-top: toRem(70);
    }

    @media only screen and (max-width: $screen-xl) {
      margin-top: toRem(50);
    }

    @media only screen and (max-width: $screen-lg) {
      margin: toRem(50) 0 0;
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      margin: toRem(28) 0 0;
    }

    @media only screen and (max-width: $screen-sm) {
      margin: toRem(30) 0 toRem(-5);
    }
  }

  .item {
    list-style: none;
    position: relative;
    z-index: 1;
    max-width: 66%;
    width: 100%;
    margin-left: auto;

    @media only screen and (max-width: $screen-xl) {
      img {
        max-width: toRem(606);
      }
    }

    @media only screen and (max-width: $screen-lg) {
      &,
      img {
        max-width: 100%;
      }
    }

    &:last-child {

      @media only screen and (max-width: $screen-xl) {
        margin-bottom: toRem(95);
      }

      @media only screen and (max-width: $screen-lg) {
        margin-bottom: toRem(50);
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        margin-bottom: toRem(30);
      }
    }

    &:not(:last-child) {
      margin-bottom: toRem(100);

      @media only screen and (max-width: $screen-lg) {
        margin-bottom: toRem(70);
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        margin-bottom: toRem(30);
      }
    }

    img:not(.dots) {
      @include radius(toRem(3));
      box-shadow: 0 toRem(10) toRem(20) rgba(0, 0, 0, .1);
      position: relative;
      z-index: 1;
    }

    .img {
      margin-bottom: 0;
      position: relative;
    }

    &.reverse {
      margin: 0 auto 0 0;
    }

    span {
      display: flex;
      align-items: flex-start;
      width: 85%;
      margin-top: toRem(20);
      font-size: 1.22em;
      line-height: 1.3em;

      @media only screen and (max-width: $screen-xxl) {
        width: 100%;
      }

      @media only screen and (max-width: $screen-lg) {
        width: 80%;
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        margin-top: toRem(14);
        width: 100%;
        font-size: 1em;
        line-height: 1.4em;
      }

      &::before {
        background-color: var(--color-bright-red);
        content: "";
        display: block;
        max-width: toRem(10);
        width: 100%;
        height: toRem(10);
        @include radius(toRem(100));
        margin: toRem(10) toRem(15) 0 0;

        @media only screen and (max-width: ($screen-md - 1)) {
          margin-top: toRem(5);
          margin-right: toRem(10);
        }
      }
    }

    .dots {
      position: absolute;
      right: 108%;
      top: 10%;
      z-index: 0;
      height: 80%;
      width: auto;

      @media only screen and (max-width: $screen-xl) {
        display: none;
      }
    }

    .dotsReverse {
      position: absolute;
      right: -35%;
      top: 0;
      bottom: 0;
      margin: 0;
      z-index: 0;
      transform: scale(-1, 1);
      height: 100%;
      width: auto;

      @media only screen and (max-width: ($screen-md - 1)) {
        display: none;
      }
    }
  }

  .quote {
    margin: toRem(60) 0;
    padding: toRem(30);
    width: 70.5%;
    color: var(--color-grey-bg);
    font-weight: 300;
    box-shadow: 0 toRem(10) toRem(20) rgba(0, 0, 0, .1);
    @include radius(toRem(3));

    @media only screen and (max-width: $screen-xxl) {
      width: 82.5%;
      margin: toRem(50) 0;
    }

    @media only screen and (max-width: $screen-xl) {
      width: 100%;
    }

    @media only screen and (max-width: $screen-lg) {
      margin: toRem(40) 0;
      width: 90%;
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      margin: toRem(30) 0;
      padding: toRem(15);
      width: 100%;
    }

    img {
      object-fit: cover;
    }

    .quoteText {
      margin-top: toRem(-25);
      display: block;
      font-size: 1.25em;
      z-index: 1;
      position: relative;

      @media only screen and (max-width: ($screen-md - 1)) {
        margin-top: toRem(-30);
        line-height: 1.3em;
      }
    }

    .quotes {
      z-index: 1;
      position: relative;
      color: var(--color-bright-red);
      display: block;
      font-size: toRem(60);
      line-height: toRem(60);
    }

    .author {
      z-index: 1;
      position: relative;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: 600;
      margin-top: toRem(20);
      width: 60%;
      margin-left: auto;

      @media only screen and (max-width: ($screen-md - 1)) {
        width: 100%;
        margin-top: toRem(13);
      }

      @media only screen and (max-width: $screen-sm) {
        width: 80%;
        margin-top: toRem(10);
      }
    }
  }
}

.resultingSystem {
  .imgs {
    display: flex;
    max-width: 100%;
    width: 100%;
    position: relative;
    margin-bottom: toRem(100);

    @media only screen and (max-width: $screen-xl) {
      margin-bottom: toRem(90);
    }

    @media only screen and (max-width: $screen-lg) {
      margin-bottom: toRem(60);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      margin-bottom: toRem(30);
    }

    img {
      @include radius(toRem(3));
      box-shadow: 0 toRem(10) toRem(20) rgba(0, 0, 0, .1);
    }

    img:first-child {
      max-width: 57%;
      z-index: 1;

      @media only screen and (max-width: $screen-xxl) {
        max-width: 55.5%;
      }

      @media only screen and (max-width: $screen-xl) {
        max-width: 57%;
      }
    }

    img:last-child {
      max-width: 66%;
      position: absolute;
      top: -50%;
      right: 0;

      @media only screen and (max-width: $screen-xxl) {
        top: -59%;
      }

      @media only screen and (max-width: $screen-xl) {
        top: -71.5%;
      }
    }
  }

  .steps {
    margin: toRem(50) 0 toRem(70);
    counter-reset: myCounter;
    padding-left: toRem(52);

    @media only screen and (max-width: $screen-xl) {
      margin-bottom: toRem(60);
    }

    @media only screen and (max-width: $screen-lg) {
      padding-left: 0;
      margin-bottom: toRem(62);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      margin: toRem(21) 0 0;
    }

    @media only screen and (max-width: $screen-sm) {
      margin: toRem(31) 0 0;
    }

    .step {
      list-style: none;
      position: relative;
      padding: toRem(12) 0 0 toRem(39);
      width: 85%;

      @media only screen and (max-width: $screen-xxl) {
        width: 100%;
      }

      @media only screen and (max-width: ($screen-md - 1)) {
        padding: toRem(7) 0 toRem(30) toRem(30);
      }

      @media only screen and (max-width: $screen-sm) {
        padding: toRem(7) 0 toRem(26) toRem(26);
      }

      &:not(:last-child) {
        margin-bottom: toRem(25);

        @media only screen and (max-width: $screen-xxl) {
          margin-bottom: toRem(27);
        }

        @media only screen and (max-width: ($screen-md - 1)) {
          margin-bottom: toRem(20);
        }
      }

      &::before {
        counter-increment: myCounter;
        content: counter(myCounter) ".";
        position: absolute;
        left: 0;
        top: 0;
        font: 600 toRem(35)/toRem(45) var(--muktaVaani), sans-serif;
        color: var(--color-bright-red);

        @media only screen and (max-width: ($screen-md - 1)) {
          font-size: toRem(25);
          margin-right: toRem(8);
        }
      }
    }
  }
}

.mobileMargin {
  margin-bottom: toRem(100);

  @media only screen and (max-width: $screen-lg) {
    margin-bottom: toRem(70);
  }

  @media only screen and (max-width: ($screen-md - 1)) {
    margin-bottom: toRem(30);
  }
}

.fontParagraph {
  font-size: toRem(25);
  margin-top: toRem(20);
  display: flex;
  align-items: flex-start;
  width: 85%;

  &::before {
    background-color: var(--color-bright-red);
    content: "";
    display: block;
    max-width: toRem(10);
    width: 100%;
    height: toRem(10);
    @include radius(toRem(100));
    margin: toRem(10) toRem(15) 0 0;

    @media only screen and (max-width: ($screen-md - 1)) {
      margin-top: toRem(5);
      margin-right: toRem(10);
    }
  }

  @media only screen and (max-width: $screen-md) {
    font-size: toRem(16);
  }

}