@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.section {
  position: relative;
  background-color: var(--color-black);
  padding: toRem(120) 0;
  
  @media only screen and (max-width: $screen-lg) {
    padding: toRem(80) 0;
  }
  
  .background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: toRem(700);
    
    @media only screen and (max-width: ($screen-md - 1)) {
      height: toRem(480);
    }
    
    img {
      object-fit: cover;
      
      @media only screen and (max-width: $screen-lg) {
       object-position: bottom;
      }
    }
  }
  
  .title {
    color: var(--color-white);
    margin-bottom: toRem(80);

    @media only screen and (max-width: $screen-lg) {
      margin-bottom: toRem(60);
    }

    @media screen and (max-width: ($screen-md - 1)) {
      margin-bottom: toRem(40);
    }
  }
}
