@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.container {
  padding: toRem(80) 0 0;

  .accordionItem {
    border-bottom: 1px solid rgba($color: #D9D9D9, $alpha: .3);

    .accordionHeader {
      display: flex;
      justify-content: space-between;
      padding: toRem(30) 0;

      .title {
        text-transform: uppercase;
        font-size: toRem(16);
        line-height: getLineHeight(22, 16);
      }

      .icon {
        transition: rotate .3s linear;

        &.open {
          transform: rotateX(180deg);
        }
      }
    }

    .content {
      max-height: 0;
      transition: max-height .3s linear;
      overflow: scroll;
      margin-right: toRem(-13);
      padding-right: toRem(13);
      &.open {
        height: auto;
        max-height: toRem(266);
      }

      .contentItem {
        display: flex;
        justify-content: space-between;
        max-width: toRem(330);
        padding-bottom: toRem(20);

        &:last-of-type {
          padding-bottom: toRem(30);
        }

        .contentTitleContainer {
          display: flex;
          gap: 8px;
          align-items: center;

          .flag {
            width: toRem(21);
            height: toRem(14);
          }

          .contentTitle {
            font-size: toRem(14);
            line-height: getLineHeight(20, 14);
            font-weight: 400;
          }
        }

        .number {
          font-size: toRem(14);
          line-height: getLineHeight(20, 14);
        }
      }
    }
  }
}
