@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.resultsSection {
  .container {
    padding-bottom: toRem(80);
    margin: 0;

    @media only screen and (min-width: $screen-md) {
      padding-top: 0;
    }

    @media only screen and (min-width: ($screen-lg + 1)) {
      padding-top: 0;
      padding-bottom: toRem(120);
    }

    @media only screen and (min-width: $screen-xxxl) {
      max-width: 100%;
    }

    .subtitle {
      font-size: toRem(20);
      line-height: getLineHeight(32, 20);
      padding-top: toRem(30);
      padding-bottom: toRem(10);
      max-width: toRem(1080);

      @media only screen and (min-width: $screen-md) {
        font-size: toRem(24);
        line-height: getLineHeight(36, 24);
        padding-top: toRem(40);
      }

      @media only screen and (min-width: $screen-lg + 1) {
        padding-bottom: 0;
      }

      @media only screen and (min-width: $screen-xxxl) {
        max-width: toRem(1480);
      }
    }

    .textBlock {
      @media only screen and (min-width: $screen-lg + 1) {
        display: flex;
        gap: 3%;
        padding-top: toRem(40);
      }

      .item {
        padding-top: toRem(20);
        flex-basis: 48.5%;

        @media only screen and (min-width: $screen-md) {
          padding-top: toRem(30);
        }

        @media only screen and (min-width: $screen-lg + 1) {
          padding-top: 0;
        }

        @media only screen and (min-width: $screen-xxxl) {
          max-width: toRem(850);
        }

        .text {
          margin: 0;
          color: var(--color-black);
        }
      }
    }
  }
}
