@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables.scss";

.buttonsPanelContainer {
  position: relative;
  height: toRem(82);
  width: 100%;
}

.buttonsPanel {
  display: flex;
  justify-content: space-between;
  padding: toRem(20) 0;
  background: var(--color-white);
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;

  @media only screen and (max-width: $screen-lg) {
    height: 100%;
  }
}

.content {
  position: relative;
  left: 0;
  overflow: hidden;
  flex-basis: 84%;

  @media only screen and (max-width: $screen-lg) {
    flex-basis: unset;
    position: absolute;
    top: toRem(20);
    left: toRem(-30);
    width: 100vw;
  }

  @media only screen and (max-width: $screen-md - 1) {
    left: toRem(-15);
  }
}

.container {
  width: 100%;
  gap: toRem(10);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media only screen and (max-width: $screen-lg) {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding: 0 toRem(30);
    &::-webkit-scrollbar {
      display: none;
      width: 6px;
      position: absolute;
    }
    &::-webkit-scrollbar-track {
      border-radius: 5px;
      background: transparent;
      position: absolute;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 5px;
      position: absolute;
    }
  }

  @media only screen and (max-width: $screen-md - 1) {
    padding: 0 toRem(15);
  }
}

.displayNone {
  display: none;
}

.showAllWrapper {
  padding: toRem(8) toRem(3) 0 0;
}