@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

@keyframes rose-animation {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}

.todaySection {
  background-color: var(--color-bracketology-background);
  position: relative;

  .container {
    padding: toRem(40) 0 toRem(40);

    @media only screen and (min-width: $screen-md) {
      padding: toRem(80) toRem(30);
      position: relative;
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding: 0 toRem(40);
      position: unset;
    }

    .roseBlock {
      @media only screen and (min-width: $screen-lg + 1) {
        max-width: toRem(1340);
        margin-left: auto;
        margin-right: 0;
        height: toRem(550);
      }

      .roseContent {
        padding: 0 toRem(16);

        @media only screen and (min-width: $screen-md) {
          flex-basis: 53%;
          padding: 0;
          max-width: toRem(360);
          z-index: 2;
          position: relative;
        }

        @media only screen and (min-width: $screen-lg + 1) {
          max-width: toRem(720);
          padding-top: toRem(160);
        }

        h2 {
          padding-bottom: toRem(24);
        }

        p {
          @media only screen and (min-width: $screen-md) {
            letter-spacing: -0.2px;
          }
        }

        p:last-of-type {
          padding: toRem(16) 0 toRem(24);

          @media only screen and (min-width: $screen-lg + 1) {
            padding: toRem(24) 0 0;
          }
        }
      }

      .roseImage {
        max-width: toRem(375);
        max-height: toRem(341);
        margin: 0 auto;
        animation: rose-animation 16s ease infinite;

        img {
          width: 100%;
          height: auto;
        }

        @media only screen and (min-width: $screen-md) {
          width: toRem(365);
          height: toRem(332);
          max-width: unset;
          max-height: unset;
          margin: 0;
          position: absolute;
          top: toRem(80);
          right: 0;
          z-index: 1;
        }

        @media only screen and (min-width: $screen-lg + 1) {
          width: toRem(600);
          height: toRem(550);
          top: 0;
          right: 0;
        }
      }
    }
  }
}
