@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.bachelorSection {
  background-color: var(--color-bracketology-background);

  @media only screen and (min-width: $screen-md) {
    position: relative;
    z-index: 5;
  }

  .container {
    padding-bottom: toRem(56);

    @media only screen and (min-width: $screen-md) {
      padding-bottom: toRem(65);
      position: relative;
      z-index: 5;
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding-bottom: toRem(42);
    }
  }
}
