@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.progressBlock {
  display: flex;
  height: 100%;

  @media only screen and (min-width: $screen-xl) {
    max-width: toRem(1196);
    display: block;
  }

  .numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: toRem(16);

    @media only screen and (min-width: $screen-xl) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
      padding-top: toRem(16);
    }

    span {
      color: var(--color-white);
      font-weight: 700;
      font-size: toRem(22);
      line-height: toRem(32);
      display: block;
      opacity: 0.7;

      @media only screen and (min-width: $screen-xl) {
        display: inline;
      }
    }

    .monthGroup {
      .month {
        display: none;

        @media only screen and (min-width: $screen-xl) {
          display: inline;
          text-transform: uppercase;
        }
      }
    }
  }

  .progress {
    width: toRem(4);
    background-color: rgba(217, 217, 217, 0.9);
    display: block;
    position: relative;

    @media only screen and (min-width: $screen-xl) {
      width: toRem(1196);
      height: toRem(4);
    }

    .indicate {
      display: block;
      background-color: var(--color-bracketology-red3);
      position: absolute;
      overflow: hidden;
    }
  }
}
