@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.numbersSection {
  position: relative;
  overflow: hidden;
  color: var(--color-white);
  background-color: var(--color-black);

  .container {
    position: relative;
    z-index: 1;
    padding-top: toRem(80);
    padding-bottom: toRem(80);

    @media only screen and (max-width: $screen-lg) {
      padding-bottom: toRem(50);
    }
    
    @media only screen and (max-width: $screen-md - 1) {
      padding-top: toRem(20);
      padding-bottom: toRem(60);
    }

    .title {
      @media only screen and (min-width: $screen-lg + 1) {
        max-width: toRem(1085);
      }
    }
  }
}
