@import "../../../pages/App/sass/functions";
@import "../../../pages/App/sass/breakpointsVariables";

.servicesSection {
  position: relative;
  overflow: hidden;

  .bgMobile {
    @media only screen and (min-width: $screen-md) {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 1;
    padding-top: toRem(80);
    padding-bottom: toRem(40);

    @media only screen and (min-width: $screen-md) {
      padding-bottom: toRem(65);
    }

    @media only screen and (min-width: $screen-lg + 1) {
      padding-bottom: toRem(80);
    }

    .text {
      font-size: toRem(18);
      margin-top: toRem(30);
      margin-bottom: 0;

      @media only screen and (min-width: $screen-lg + 1) {
        max-width: toRem(670);
        margin-top: toRem(40);
      }
    }
  }
}
